<div class='section home'>
  <div class='container'>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-8">
            <article class="tile is-child has-primary-border about-box">
              <p><%= t('.about.teaser') %></p>
              <%= link_to t('.about.button'), cms_link('about'), class: 'button is-primary' %>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child">
              <figure class="image">
                <%= image_tag("treatment_chair.png", :alt => "Illustration eines gynäkologischen Behandlungsstuhls", :title => "Illustration eines gynäkologischen Behandlungsstuhls, Fiona Tretau") %>
              </figure>
            </article>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent m-t-lg">
            <article class="tile is-child has-danger-border cta-box">
              <p><%= t('.search.teaser') %></p>
              <%= link_to t('.search.button') , profiles_url, class: 'button is-danger' %>
            </article>
          </div>
          <div class="tile is-parent m-t-lg">
            <article class="tile is-child has-danger-border cta-box">
              <p><%= t('.recommend.teaser') %></p>
              <%= link_to t('.recommend.button'), new_questionnaire_url, class: 'button is-danger' %>
            </article>
          </div>
        </div>
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <div class="tile is-ancestor">
              <%= link_to posts_path do %>
                <div class="tile is-parent m-t-lg">
                  <article class="tile is-child link-box has-primary-border">
                    <h2><%= t('.blog.headline') %></h2>
                    <p><%= t('.blog.teaser') %></p>
                  </article>
                </div>
              <% end %>
              <%= link_to cms_link('faq') do %>
                <div class="tile is-parent m-t-lg">
                  <article class="tile is-child link-box has-primary-border">
                    <h2><%= t('.faq.headline') %></h2>
                    <p><%= t('.faq.teaser') %></p>
                  </article>
                </div>
              <% end %>
              <%= link_to cms_link('glossary') do %>
                <div class="tile is-parent m-t-lg">
                  <article class="tile is-child link-box has-primary-border">
                    <h2><%= t('.glossar.headline') %></h2>
                    <p><%= t('.glossar.teaser') %></p>
                  </article>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
