<%= form_for treatment_method, url: yield(:resource_path) do |form| %>
  <% if treatment_method.errors.any? %>
    <div class="notification is-danger">
      <ul>
        <% treatment_method.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="control">
      <%= form.label :de %>
      <%= form.text_field :de, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :en %>
      <%= form.text_field :en, class: 'input' %>
    </div>
  </div>
  <div class="control">
    <%= form.submit t('.save'), class: 'button is-primary' %>
  </div>
<% end %>
