<div class='section'>
  <div class='container'>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <%= link_to t('.new_treatment_method'), new_admin_treatment_method_path, class: 'button is-primary' %>
        <table class='table is-fullwidth'>
          <thead>
            <tr>
              <th><%=t('admin.treatment_methods.name')%></th>
              <th><%=t('admin.treatment_methods.edit.headline')%></th>
            </tr>
          </thead>
          <tbody>
            <% @treatment_methods.each do |treatment_method| %>
              <tr>
                <td><%= treatment_method.name[I18n.locale.to_s] %></td>
                <td><%= link_to t('.edit'), edit_admin_treatment_method_path(treatment_method.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
