<% provide(:resource_path, admin_treatment_methods_path) %>
<div class='container'>
  <div class="columns">
    <div class="column is-10 is-offset-1">
     <h2 class="title"><%= I18n.t('admin.treatment_methods.new.headline') %></h2>
        <%= render partial: "form", locals: {treatment_method: @treatment_method} %>
      </div>
    </div>
  </div>
