<section role='search'>
  <fieldset class="profile-search">
    <%= form_with url: profiles_path, method: 'get', id: 'js-turbolinks-get-form' do |form| %>
      <div class="select is-multiple is-multi-search-choice tag-is-multi-search-choice filter-multiple">
        <%= form.select('tag', Tag.all.collect {|tag| [ tag.name[I18n.locale.to_s], tag.key, selected: check_if_selected(params[:tag], tag.key) ] }, { prompt: I18n.t('profile.select_a_tag') }, { :multiple => true, :size => 5, class: "select-multiple" } )  %>
      </div>
      <div class="select is-multiple is-multi-search-choice treatment-is-multi-search-choice filter-multiple">
        <%= form.select('treatment_method', TreatmentMethod.all.collect {|treatment_method| [ treatment_method.name[I18n.locale.to_s], treatment_method.key, selected: check_if_selected(params[:treatment_method], treatment_method.key) ] }, { prompt: I18n.t('profile.select_a_treatment_method') } , { :multiple => true, :size => 5, class: "select-multiple treatment-multi-choice" } )  %>
      </div>
      <div class='select is-fullwidth m-t-sm'>
        <%= form.select('state', options_for_select(Address.states.collect  { |state| [state[:name], state[:iso_code]] }, selected: params[:state]), { prompt: I18n.t('profile.select_a_state') })  %>
      </div>
      <div class='select is-fullwidth m-t-sm'>
        <%= form.select('category', options_for_select(category_options  {|category| [category.name[I18n.locale.to_s], category.key] }, selected: params[:category]), {prompt: I18n.t('profile.select_a_category') })  %>
      </div>
      <%= form.submit I18n.t('profile.filter'), class: 'button is-danger is-fullwidth m-t-sm' %>
    <% end %>
  </fieldset>
</section>
