<li id="profile-<%=profile.id%>" %>
  <div class='box profile__element'>
    <div class="content">
      <div class="questionnaire_count">
        <%= I18n.t('profile.questionnaire_count', :count => profile.questionnaires.count) %>
      </div>
      <h3><%= profile.first_name %> <%= profile.last_name %></h3>
      <p><%= I18n.t("profile.categories.#{profile.category}") %></p>
      <p><%= ProfileDecorator.new(profile).display_address %> <%= state_name(profile.state) %></p>
      <h4><%= t('profile.accessibility_addition')%></h4>
      <p><%= profile.accessibility_addition %></p>
      <h4><%= t('profile.language')%></h4>
      <p><%= profile.language %></p>
      <h4><%= t('profile.recommended_for') %></h4>
      <div class="tags">
        <%= raw profile.tags.map(&:name).map { |tag_name| content_tag(:span, tag_name[I18n.locale.to_s], class: 'tag')}.join() %>
      </div>
      <h4><%= t('profile.treatment_methods') %></h4>
      <div class="tags">
        <%= raw profile.treatment_methods.map(&:name).map { |treatment_method_name| content_tag(:span, treatment_method_name[I18n.locale.to_s], class: 'tag ')}.join() %>
      </div>
      <%= link_to t('profile.more'), profile_path(profile.id), class: 'button is-danger profile-detail-btn' %>
    </div>
  </div>
</li>
