  <%= form_for :session, url: session_path do |form| %>
  <div class="field">
    <div class="control">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email', class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'input' %>
    </div>
  </div>
  <div>
    <%= form.submit t("sessions.new.submit"), class: 'button is-primary' %>
  </div>
  <div class="field">
    <div class="control">
      <% if Clearance.configuration.allow_sign_up? %>
        <%= link_to t(".sign_up"), sign_up_path %>
      <% end %>
      <%= link_to t(".forgot_password"), new_password_path %>
    </div>
  </div>
<% end %>
