<p><%= t(".opening") %></p>

<p>
  <%= link_to t(".link_text", default: t(".change_my_password")),
    edit_user_password_url(@user, token: @user.confirmation_token.html_safe, locale: I18n.locale) %>
</p>

<p><%= t(".closing") %></p>
