@import "../src/stylesheets/bulma_overrides.scss";
// Vendor styles
@import "bulma";
@import "bulma-calendar/dist/css/bulma-calendar.min.css";
@import "bulma-extensions/bulma-steps/src/sass/index.sass";
@import "bulma-extensions/bulma-checkradio/src/sass/index.sass";
@import "choices.js/src/styles/choices.scss";

// Fontawesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';


// Custom Styles
@import "../src/stylesheets/admin/dashboard.scss";
@import "../src/stylesheets/admin/questionnaire.scss";
@import "../src/stylesheets/admin/profiles.scss";
@import "../src/stylesheets/footer.scss";
@import "../src/stylesheets/posts.scss";
@import "../src/stylesheets/profiles.scss";
@import "../src/stylesheets/questionnaire.scss";
@import "../src/stylesheets/spacing.scss";
@import "../src/stylesheets/static_pages.scss";
@import "../src/stylesheets/actiontext.scss";

@font-face {
  font-family: 'vremenagrotesk';
  src: url('../fonts/vremenagrotesk-webfont.woff2') format('woff2'),
    url('../fonts/vremenagrotesk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VT323';
  src: url('../fonts/VT323-Regular.woff2') format('woff2'),
    url('../fonts/VT323-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  border: 8px solid $primary;
}

.main-content {
  min-height: calc(100vh - 400px);
}

// Navbar
.navbar {
  border-bottom: 8px solid $primary;
  margin-bottom: 2rem;
}

.navbar-logo {
  font-family: $family-monospace;
  text-transform: uppercase;
  font-size: 2.6em;
  color: $primary;
  line-height: 0.8;
  @include from($tablet) {
    font-size: 4.4em;
    line-height: 0.8;
  }
}

.navbar-end .navbar-item {
  font-size: 1.25em;
  color: $danger;
}

.navbar-dropdown {
  color: $danger;
  border-top: none;
  @include from($tablet) {
    border-top: 8px solid $danger;
  }
}

.navbar-link {
  color: $danger;
}

.admin-navbar {
  margin-top: 0;
  border: none;
  
  .buttons {
    margin-bottom: 0;
  }
}

// Steps & Form
.steps {
  justify-content: center;
}

.steps .step-item.is-active .step-marker {
  background-color: $primary;
  color: white;
}

.steps .step-item.is-completed .step-marker {
  color: $danger;
  span {
    color: white !important;
  }
}

.step-items-container {
  border: 8px solid $primary;
  width: 70%;
}

.step-content p {
  margin-bottom: 2em;

  @include until($tablet) {
    font-size: 1.2rem;
  }
}

.steps .step-item .step-marker {
  color: $primary;

  @include until($tablet) {
    height: 2rem !important;
    width: 2rem !important;
    border: 0.1rem solid !important;
  }
}

.step-content h3 {
  @include until($tablet) {
    font-size: 1.5rem;
  }
}

.step-content .buttons .button{
  @include until($tablet) {
    font-size: 1rem;
  }
}

.step-content p{
  @include until($tablet) {
    font-size: 1rem !important;
  }
}

.step-content .check-box-label{
  @include until($tablet) {
    font-size: 0.8rem !important;
  }
}

.step-details {
  color: black;
}

.check-box-cloud {
  line-height: 1em;
  display: flex;
  flex-wrap: wrap;
}

.check-box-multi-column {
  flex-grow: 1;
  flex-basis: 250px;
}

.check-box-single-column {
  flex-grow: 1;
  flex-basis: 500px;
}

.check-box label {
  display: inline-block !important;
}
