<div class='section admin-dashboard'>
  <div class='container'>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="tile is-ancestor">
          <div class="tile is-parent ">
            <article class="tile is-child box has-background-primary">
              <p class="title" data-test="published-profile-count">
                <%= @profiles.filter_by_published(true).count%>
              </p>
              <p class="subtitle"><%= t('.profiles_published') %></p>
              <p data-test="unpublished-profile-count"><%= link_to t('.profiles_unpublished'), admin_profiles_path(published: 'false') %>: <%= @profiles.filter_by_published(false).count %></p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box has-background-primary">
              <p class="title">
                <%= @questionnaires.count %>
              </p>
              <p class="subtitle"><%= t('.questionnaires_received') %></p>
              <p data-test="new-questionnaires-count"><%= link_to t('.questionnaire_status.new'), admin_questionnaires_path(status: 'new') %>: <%= @questionnaires.status_new.count %></p>
              <p data-test="check-1-completed-questionnaire-count"><%= link_to  link_to t('.questionnaire_status.check_1_completed'), admin_questionnaires_path(status: 'check_1_completed')%>: <%= @questionnaires.status_check_1_completed.count %></p>
              <p data-test="consultation-required-questionnaire-count"><%= link_to  link_to t('.questionnaire_status.consultation_required'), admin_questionnaires_path(status: 'consultation_required')%>: <%= @questionnaires.status_consultation_required.count %></p>
              <p data-test="inquired-about-abortion-questionnaire-count"><%= link_to  link_to t('.questionnaire_status.inquired_about_abortion'), admin_questionnaires_path(status: 'inquired_about_abortion')%>: <%= @questionnaires.status_inquired_about_abortion.count %></p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
