[attributes]
---
label: Impressum
layout: standard-layout
target_page:
categories:
- footer
is_published: true
position: 5

[wysiwyg content]
<section>
  
    
      
        <h1>
          Impressum
        </h1>
        <address>
          Gynformation<br>
          c/o femrep e.V.<br>
          Schäferstraße 26<br>
          20355 Hamburg<br>
          Mail: <a href="mailto:kontakt@gynformation.de">kontakt@gynformation.de</a>
        </address>
        
          <p>Illustrationen: Fiona Tretau</p>
        
      
    
  
</section>
