<div class="nested-fields">
  <%= form.hidden_field :_destroy %>
  <%= form.label :content, "Kommentar" %>
  <%= form.text_area :content, class: 'textarea' %>
  <%= form.check_box :_destroy %>
  <%= link_to t('.remove'), '#', class: "remove_fields" %>
</div>
