  <%= form_for profile, url: yield(:resource_path) do |form| %>
  <% if profile.errors.any? %>
    <div class="notification is-danger">
      <ul>
        <% profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= form.label :first_name, class: 'label' %>
      <%= form.text_field :first_name, class: 'input' %>
    </div>
    <div class="control is-expanded">
      <%= form.label :last_name, class: 'label' %>
      <%= form.text_field :last_name, class: 'input' %>
    </div>
  </div>
  <%= render partial: "address_form", locals: {form: form} %>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= form.label :website, class: 'label' %>
      <%= form.text_field :website_with_protocol, class: 'input' %>
    </div>
    <div class="control is-expanded">
      <%= form.label :phone_number, class: 'label' %>
      <%= form.text_field :phone_number, class: 'input' %>
    </div>
    <div class="control">
      <%= form.label :category, class: 'label' %>
      <div class="select">
        <%= form.select(:category, options_for_categories, { prompt: t('.please_select')}) %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :health_insurance, class: "label" %>
      <%= collection_check_boxes(:profile, :health_insurance, insurance_options, :first, :last, { checked: profile.health_insurance.map(&:to_param)}) do |box| %>
        <div class="check-box">
          <%= box.check_box class: "is-checkradio" %>
          <%= box.label class: 'check-box-label' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :financing_of_treatments, class: 'label' %>
      <%= form.text_area :financing_of_treatments, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :language, class: 'label' %>
      <%= form.text_area :language, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :accessibility_options, class: "label" %>
      <%= collection_check_boxes(:profile, :accessibility_options, barrier_free_access_options_list, :first, :last, { checked: profile.accessibility_options.map(&:to_param)}) do |box| %>
        <div class="check-box">
          <%= box.check_box class: "is-checkradio" %>
          <%= box.label class: 'check-box-label' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :accessibility_addition, class: 'label' %>
      <%= form.text_area :accessibility_addition, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :tag, class: 'label' %>
      <div class="select is-multiple is-multi-search-choice tag-is-multi-search-choice">
        <%= form.select(:tag_ids, Tag.all.collect {|tag| [ tag.name[I18n.locale.to_s], tag.id ] }, {}, { :multiple => true, :size => 5, class: "select-multiple" } )  %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :treatment_method, class: 'label' %>
      <div class="select is-multiple is-multi-search-choice treatment-is-multi-search-choice">
        <%= form.select(:treatment_method_ids, TreatmentMethod.all.collect {|treatment_method| [ treatment_method.name[I18n.locale.to_s], treatment_method.id ] }, {}, { :multiple => true, :size => 5, class: "select-multiple" } )  %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
    <%= form.fields_for :comments do |comments_form| %>
      <%= render "comment_fields", form: comments_form %>
    <% end %>      
    <%= link_to_add_fields "Kommentar hinzufügen", form, :comments, "button is-small is-light m-t-sm" %>  
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :internal_comment, class: 'label' %>
      <%= form.text_area :internal_comment, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :published %>
      <%= form.check_box(:published) %>
    </div>
  </div>
</label>
<div>
  <%= form.submit yield(:button_text), class: 'button is-primary' %>
</div>
<% end %>
