<% provide(:resource_path, admin_profiles_path) %>
<% provide(:button_text, I18n.t('profile.create')) %>
<div class='section'>
  <div class='container'>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h2 class="title">Create new profile</h2>
        <%= render partial: "form", locals: {profile: @profile} %>
      </div>
    </div>
  </div>
</div>
