%h1= @cms_post.title

%p
  - label = Comfy::Blog::Post.human_attribute_name(:published_on)
  - time  = @cms_post.published_at.to_formatted_s(:short)
  = "#{label}: #{time}"

= @cms_post.content_cache.html_safe


<% content_for :meta_title, @cms_post.title %>
<% content_for :meta_description, @post.teaser %>
<% content_for :meta_image, @post.main_image %>
<%= render 'shared/post_detail_view', post: @post  %>
