<section class="section">
  <div class="container about">
    <div class="columns">
      <div class="column is-8 is-offset-2 is-size-6">
        <h1 class="title"><%= t('.headline') %></h1>
        <p><%= t('.paragraph1') %></p>
        <p><%= t('.paragraph2') %></p>
        <p><%= t('.paragraph3') %></p>
      </div>
    </div>
  </div>
</section>
