<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="content">
          <div class="post-detail">
            <div class="tags">
              <%= raw post.post_tags.map { |post_tag| raw(link_to(post_tag.name[I18n.locale.to_s], posts_path(post_tag: post_tag.key), class: 'tag is-medium'))}.join() %>
            </div>
            <p class="post-publish-date"><%= I18n.localize(post.publish_date, format: :long) %></p>
            <h1 class='title'><%= @post.title %></h1>
            <p class="teaser"><%= post.teaser %></p>
            <p class='author'><%= t('.from') %> <%= @post.author %></p>
            <% if @post.main_image.attached? %>
              <image src="<%=(url_for(@post.main_image))%>">
                <p><%= PostDecorator.new(post).display_title_credit %></p>
            <% end %>
            <p class='body'><%= @post.body %></p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
