<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 m-b-xxl">
        <div class="content">
          <% if signed_in? %>
            <div class="has-danger-border m-b-md p-md">
              <h4><%= t('profile.internal_comment')%></h4>
              <p><%= profile.internal_comment.presence || '-' %></p>
              <h4><%= t('admin.profile.questionnaires')%></h4>
              <% profile.questionnaires.each.with_index(1) do |questionnaire, index| %>
                <%= link_to edit_admin_questionnaire_path(questionnaire) do %>
                  <%= index %>.
                  <span class="m-r-xs">
                    <i class="fa fa-file" title=<%= t('admin.profile.show') %>></i>
                  </span>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <div class="profile-detail">
            <div class="questionnaire_count">
              <%= I18n.t('profile.questionnaire_count', :count => profile.questionnaires.count) %>
            </div>
            <h3><%= profile.first_name %> <%= profile.last_name %></h3>
            <p><%= I18n.t("profile.categories.#{profile.category}") %>
              <h4><%= t("profile.address") %></h4>
              <p><%= ProfileDecorator.new(profile).display_address %> <%= state_name(profile.state) %></p>
              <h4><%= t("profile.phone_number") %></h4>
              <p><%= link_to profile.phone_number, "tel:#{profile.phone_number}" %></p>
              <h4><%= t("profile.website") %></h4>
              <p><%= link_to(profile.website_with_protocol, profile.website_with_protocol, target: "_blank") %></p>
              <h4><%= t('profile.accessibility_addition')%></h4>
              <div class="m-b-md">
                <%= raw profile.accessibility_options.reject(&:blank?).map { |option| content_tag(:span, I18n.t("profile.barrier_free_access_options.#{option}"), class: 'tag is-medium')}.join(' ') %>
              </div>
              <p><%= profile.accessibility_addition %></p>
              <h4><%= t('profile.language')%></h4>
              <p><%= profile.language %></p>
              <h4><%= t('profile.health_insurance') %></h4>
              <div class="m-b-md">
                <%= raw profile.health_insurance.reject(&:blank?).map { |option| content_tag(:span, I18n.t("profile.health_insurance_options.#{option}"))}.join(',  ') %>
              </div>
              <h4><%= t('profile.recommended_for') %></h4>
              <div class="tags">
                <%= raw profile.tags.map(&:name).map { |tag_name| content_tag(:span, tag_name[I18n.locale.to_s], class: 'tag is-medium')}.join() %>
              </div>
              <h4><%= t('profile.treatment_methods') %></h4>
              <div class="tags">
                <%= raw profile.treatment_methods.map(&:name).map { |treatment_method_name| content_tag(:span, treatment_method_name[I18n.locale.to_s], class: 'tag is-medium')}.join() %>
              </div>
              <h4><%= t('profile.financing_of_treatments')%></h4>
              <p><%= profile.financing_of_treatments %></p>
              <h4><%= t('profile.comment')%></h4>
              <% profile.comments.each do |comment| %>
                <blockquote><%= comment.content %></blockquote>
              <% end %>
              <p class="has-text-right is-italic"><%= t('profile.last_updated')%>: <%= I18n.l(profile.updated_at, format: :short) %></p>
            </div>
          </div>
          <% if signed_in? %>
            <%= link_to t('profile.edit'), edit_admin_profile_path(profile.id), class: 'button is-danger' %>
          <% end %>
        </div>
      </div>
    </section>
