[attributes]
---
label: Presse
layout: standard-layout
target_page:
categories: []
is_published: true
position: 8

[wysiwyg content]
<section>
  
    
      
        <h1>
          Presse
        </h1>
        <h2>
          Berichterstattung über Gynformation
        </h2>
        <p>
          <a target="_blank" href="https://missy-magazine.de/blog/2020/11/09/wissen-teilen/">Wissen teilen!</a>, Missy Magazine, 09.11.2020 
        </p>
        <p>
          <a target="_blank" href="https://ze.tt/was-trans-maenner-in-einer-gynaekologischen-praxis-erleben/">„Ich habe es gehasst“ – Was trans Männer in einer gynäkologischen Praxis erleben</a>, ze.tt, 16.10.2020 
        </p>
        <p>
          <a target="_blank" href="https://asexualitaet.wordpress.com/2020/09/21/mit-gynformation-uber-aspecfeindlichkeit-in-der-gynakologie/">Mit Gynformation über Aspecfeindlichkeit in der Gynäkologie</a>, Aces NRW, 21.09.2020 
        </p>
        <p>
          <a target="_blank" href="https://www.radiolotte.de/radio/-gynformation-34160.html">Gynformation</a>, Radio Lotte Weimar, 02.08.2020 
        </p>
        <p>
          <a href="https://www.gynformation.de/assets/press/Eltern_8-2020_Seite_7-5d85a1082240ca0ce4142d3dfedc8dbed037dd773733d079f03b956693f897f1.pdf">Gesucht: Eine richtig gute Frauenärztin</a>, Eltern Magazin, 08/2020
        </p>
        <p>
          <a href="https://www.gynformation.de/assets/press/nw-afaeeade4c2566f99bd4159e60de8a476aa9defa51eda2af796ca688b20499a0.pdf">Dieses Online-Portal hilft, den perfekten Gynäkologen zu finden</a>, Neue Westfälische, 23.06.2020
        </p>
        <p>
          <a target="_blank" href="https://www.jetzt.de/gesundheit/gynformation-plattform-empfiehlt-gynaekolog-innen-fuer-die-queere-community">„Gynformation“ empfiehlt der queeren Community sensible Gynäkolog*innen</a>, jetzt, 18.05.2020
        </p>
        <p>
          <a target="_blank" href="https://www.deutschlandfunknova.de/beitrag/aerztliche-versorgung-gynformation-welcher-frauenarzt-ist-der-richtige-fuer-mich">Gynformation: Den passenden Frauenarzt finden</a>, Deutschlandfunk Nova, 11.03.2020 
        </p>
        <p>
          <a target="_blank" href="https://femtastics.com/journal/fempower-news-kw-11/">Kennt ihr schon Gynformation?</a>, femtastics, 11.03.2020 
        </p>
        <p>
          <a target="_blank" href="https://rdl.de/beitrag/informationen-und-reflexion-ber-die-hierarchischen-strukturen-der-medizin">Gynformation sammelt Empfehlungen für gute Gynäkolog*innen</a>, Radio Dreyeckland, 09.03.2020 
        </p>
        <p><a target="_blank" href="https://www.bento.de/gefuehle/gute-frauenaerzte-gynformation-sammelt-empfehlungen-fuer-frauenaerztinnen-a-24977f4b-cfd2-4d1f-80ab-85f50ea9c2dc">Warum Besuche bei der Frauenärztin traumatisierend sein können – und wie "Gynformation" das ändern will</a>, bento, 06.03.2020</p>
        <p>
          <a target="_blank" href="https://cdn.siegessaeule.de/documents/Stark_Bleiben_E-Paper_April_2020.pdf">Praxis gesucht</a>, Siegessäule, 04/2020 
        </p>
        <p>
          <a href="https://www.gynformation.de/assets/press/anschlaege-28e08311b763bae9c2d5e02ce7c524825fe95e9e2615de502dff5711f1e0b848.pdf">vorgestellt: gynformation</a>, an.schlaege - Das feministische Magazin, Ausgabe III/2020 
        </p>
        <p>
          <a target="_blank" href="https://mosaikgesundheit.de/gesundheitsversorgung/gynformation-eine-queer-feministische-liste-von-gynaekologinnen-hebammen-und-gynaekologisch-taetigen-allgemeinaerztinnen/">Gynformation: eine queer-feministische Liste von Gynäkolog*innen, Hebammen und gynäkologisch tätigen Allgemeinärzt*innen</a>, Mosaik Gesundheit 
        </p>
      
    </section>
