[attributes]
---
label: Schwangerschafts­abbrüche
layout: standard-layout
target_page:
categories:
- resources
is_published: true
position: 4

[wysiwyg content]
<section>
  
    
      
        <h1>
          Schwangerschafts­abbrüche
        </h1><img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBHZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6da0c6281c1803903ce36da530a075552d9ac5b3/my_body_my_choice.png" alt="My body my choice Illustration, Fiona Tretau" "=""><p>
          Wir dokumentieren hier die Informationen, die die Gießener 
Ärztin Kristina Hänel bisher auf ihrer Webseite zu
          Schwangerschaftsabbrüchen für ihre Patient*innen zu Verfügung 
gestellt hatte. Das Oberlandesgericht Frankfurt hat am 19.01.2021 ihre
          Verurteilung wegen Werbung für Schwangerschaftsabbrüche für 
rechtskräftig erklärt und ihre Revision abgewiesen. Nach Auffassung des
          Gerichts verstößt sie aufgrund den auf ihrer Webseite zur 
Verfügung gestellten Informationen gegen §219a.
        </p>
        <p>
          Wir haben den Originial-Text geringfügig angepasst und uns bemüht inklusivere Sprache zu verwenden.
        </p>
        <h2>Gesetzliche Voraussetzungen</h2>
        <p>Für einen legalen Schwangerschaftsabbruch in Deutschland benötigen Sie entweder:</p>
        <ul><li>eine schriftliche Bescheinigung über eine Beratung bei einer nach §219 StGB bzw. §7 SchKG anerkannten
            Beratungsstelle oder</li><li>eine schriftliche ärztliche Bescheinigung über das Vorliegen einer medizinischen oder kriminologischen
            Indikation nach §218StGB</li></ul>
        <h2>Durchführung in unserer Praxis</h2>
        <p>
          Wir führen alle drei Methoden (medikamentös, chirurgisch mit örtlicher Betäubung, chirurgisch mit Vollnarkose)
          des Schwangerschaftsabbruchs auf Kostenübernahme oder für Privatzahler*innen durch. Nur bei Vorliegen einer
          ärztlichen Indikation werden die Kosten der Behandlung von der Krankenkasse übernommen.
        </p>
        <p>
          Bei Ihrer Ankunft werden die Unterlagen auf Vollständigkeit 
überprüft. Danach findet ein Aufnahmegespräch mit
          der Arzthelferin oder Krankenschwester statt. Diese Kollegin 
bleibt dann in der Regel Ihre Bezugsperson während
          des gesamten weiteren Aufenthaltes. Im Anschluss findet das 
Gespräch mit der Ärztin statt. Vor dem
          Schwangerschaftsabbruch führt die Ärztin eine Tastuntersuchung
 zur Bestimmung der Lage und Größe der Gebärmutter durch. Ebenso wird
          eine Ultraschalluntersuchung gemacht, um das 
Schwangerschaftsalter zu bestimmen.
        </p>
        <p>
          Der weitere Verlauf unterscheidet sich beim medikamentösen und chirurgischen Abbruch.
        </p>
        <h2>Medikamentöser Schwangerschaftsabbruch</h2>
        <p>
          Ein medikamentöser Abbruch ist in Deutschland nur bis zum 63. 
Tag nach der letzten Regel möglich (entspricht
          dem 49. Tag nach der Empfängnis). Das benutzte Medikament ist 
ein künstliches Hormon (Mifepriston), das die Wirkung des
          Hormons Progesteron blockiert. Progesteron ist entscheidend an
 der Entwicklung und Erhaltung der Schwangerschaft
          beteiligt. Für die medikamentöse Methode sind zwei Termine in 
unserer Praxis erforderlich.
        </p>
        <p>
          <strong>Beim ersten Besuch</strong> erfolgt die Untersuchung incl. 
Ultraschall. Sollte die Fruchtblase noch nicht im
          Ultraschall zu sehen sein, ist eine Bestimmung des 
Schwangerschaftshormons-HCG im Blut erforderlich. Anschließend werden 
drei Tabletten
          des Medikamentes unter ärztlicher Aufsicht eingenommen. Oft 
kommt es bereits am folgenden Tag zur Blutung. In drei Prozent der
          Fälle wird das Schwangerschaftsgewebe ohne weitere Behandlung 
in den nächsten beiden Tagen ausgestoßen. Auch in diesem Fall
          ist ein zweiter Besuch zur Kontrolle erforderlich. Viele 
Patient*innen spüren jedoch keine körperliche Veränderung.
        </p>
        <p>
          <strong>Beim zweiten Besuch</strong> in der Praxis müssen Sie mit drei 
bis vier Stunden Aufenthalt rechnen. Sie bekommen
          mehrere Tabletten eines Medikamentes (Prostaglandin), das die 
Ausstoßung des Schwangerschaftsgewebes fördert. Bei
          vielen Patient*innen kommt es zu Kontraktionen der Gebärmutter
 und Blutungen setzen ein. Sollte es nach zwei bis drei Stunden nicht
          zu einer Blutung gekommen sein, wird die Gabe Prostaglandin 
wiederholt und eine Stunde später können Sie die Praxis in
          aller Regel verlassen.
        </p>
        <p>
          Bei vielen Patient*innen kommt es während des Aufenthaltes in 
der Praxis zum Ausstoßen der Fruchtblase, aber bei
          jeder vierten Patient*in setzen die Blutungen sogar erst nach 
24 Stunden ein. Sollten Sie also nicht innerhalb der drei bis vier 
Stunden die
          Fruchtblase ausgestoßen haben, so ist das kein Grund zur 
Beunruhigung.
        </p>
        <h3>Nebenwirkungen und Komplikationen</h3>
        <p>
          Mögliche Nebenwirkungen sind Unterleibsschmerzen, Übelkeit und
 Erbrechen. Die Blutungen können stärker sein
          als beim chirurgischen Abbruch oder bei Ihrer Periode und 
länger anhalten. In ca. 1-4% versagt die Methode. Bei einer weiter
          bestehenden Schwangerschaft ist eine chirurgische Beendigung 
des Abbruchs notwendig.
        </p>
        <h3>Gründe gegen die medikamentöse Methode</h3>
        <ul><li>Konkreter Verdacht auf eine Schwangerschaft außerhalb der Gebärmutter (z.B. im Eileiter)</li><li>Unverträglichkeit von Prostaglandinen</li><li>Allergie gegenüber Mifepriston</li><li>Chronische Nebenniereninsuffizienz</li><li>Schweres Asthma (Einnahme von Cortisontabletten.)</li><li>Leber- und Nierenversagen</li></ul>
        <p>Eine evtl. liegende Spirale muss entfernt werden.</p>
        <h2>Chirurgischer Schwangerschaftsabbruch</h2>
        <p>
          In der Regel geben wir ihnen ca. eine Stunde vor Beginn des 
Eingriffs Medikamente, die die Gebärmutter
          vorbereiten (Priming). Dadurch wird das Risiko, die 
Gebärmutter beim Eingriff zu verletzen, verringert. Der chirurgische
          Schwangerschaftsabbruch kann  entweder unter lokaler Betäubung
 oder mit Vollnarkose durchgeführt werden. Bei einer 
          <strong>örtlichen Betäubung</strong> wird das Betäubungsmittel in den Muttermund gegeben. Dies wird von vielen 
          Patient*innen gar nicht bemerkt, obwohl die Angst davor oft groß ist. Die Nerven am
          Muttermund reagieren zwar auf Druck sehr empfindlich, aber nicht auf Berührung.
        </p>
        <p>
          Die <strong>Vollnarkose</strong> wird durch einen Narkosearzt 
durchgeführt, der an einem Tag pro Woche in unserer Praxis
          anwesend ist. Die Narkosemittel werden über eine in die 
Armvene gelegte Nadel gegeben. Kurz darauf werden Sie
          müde und schlafen ein. Sie werden sich später nicht mehr an 
den Eingriff erinnern können. Oft erinnern die Patient*innen
          nicht einmal, dass Sie nach ca. 15 Minuten, wenn der Eingriff 
beendet ist, selbständig in den Ruheraum gelaufen sind.
        </p>
        <p>
          Zur Vorbereitung des Absaugens wird der Muttermund mit 
Dehnungsstäben geöffnet. Mit einem Plastikröhrchen wird
          anschließend das Schwangerschaftsgewebe abgesaugt. Dabei wird 
auch die obere Schleimhautschicht mit entfernt, 
          die normalerweise bei der Periode abblutet. Das Absaugen 
dauert nur wenige Minuten. Am Ende zieht sich die Gebärmutter zusammen, 
um die Blutung zu
          stoppen, was in etwa dem Gefühl bei der Menstruation oder den 
Nachwehen nach einer Geburt entspricht. Es folgt eine Kontrolle, ob die
          Gebärmutter vollständig entleert ist. Auch das abgesaugte 
Gewebe wird kontrolliert. Nach einer abschließenden 
Ultraschalluntersuchung gehen Sie in
          den Ruheraum.
        </p>
        <h3>Komplikationen</h3>
        <ul><li>Entzündungen der Unterleibsorgane</li><li>Gewebereste, die zu verstärkten Blutungen oder auch zu
            Entzündungen führen können. In seltenen Fällen muss
            ein weiterer Eingriff erfolgen</li><li>Allergische Reaktionen auf Medikamente</li><li>Verletzungen der Gebärmutter oder des Gebärmutter-
            halses sowie angrenzender Gewebe</li></ul>
        <p>Bei ernsten Komplikationen kann eine Verlegung ins Krankenhaus erforderlich sein.</p>
        <h2>Begleitpersonen</h2>
        <p>
          Oft ist es hilfreich, eine Begleitperson zum Abbruch 
mitzubringen. Partner*innen oder andere Begleitpersonen wie
          Freund*innen oder Verwandte sind bei uns herzlich willkommen. 
Sollte ein Schwangerschaftsabbruch in örtlicher Betäubung gemacht
          werden, ist es auch möglich, sich beim Abbruch in den 
Behandlungsraum begleiten zu lassen. Ansonsten kann die Begleitperson in
 der Regel im
          Ruheraum bei Ihnen sein.
        </p>
        <h2>Nach dem Abbruch</h2>
        <p>
          Bevor Sie die Praxis verlassen, erhalten Sie von uns 
ausführliche Informationen, wie Sie sich in den nächsten
          Tagen verhalten sollen. Bis zu 24 Stunden nach dem Eingriff 
sollten Sie nicht selbst Auto fahren. Sie bekommen eine Telefonnummer 
von uns,
          unter der sie jederzeit auch außerhalb der Sprechstunden 
jemanden erreichen können.
        </p>
        <p>
          Eine Nachuntersuchung bei Ihrer Ärzt*in oder in unserer Praxis
 ist ca. 14 Tage nach dem Abbruch
          erforderlich. (Beim Medikamentösen Abbruch zwischen dem 10. 
und 14. Tag nach Mifegyne-Einnahme). Nur dann kann gewährleistet werden,
 dass der
          Abbruch vollständig war und keine gesundheitlichen Nachteile 
für Sie entstehen.
        </p>
        <h2>Verhütung</h2>
        <p>
          Der erste Eisprung nach dem Abbruch findet nach ca. zwei bis 
vier Wochen statt. Dementsprechend setzt die
          nächste Regelblutung nach vier bis sechs Wochen ein. Da Sie 
direkt nach dem Abbruch wieder empfängnisbereit sind, sollte die Frage 
der
          anschließenden Verhütung geklärt sein. Bitte besprechen Sie 
dieses Thema mit Ihrer Ärzt*in. Zur Unterstützung der 
Gebärmutterrückbildung
          ist es möglich, direkt mit der Pille zu beginnen. Dies wird 
aus medizinischen Gründen für den medikamentösen Abbruch empfohlen.
        </p>
        <h2>Essen und Trinken, Medikamente</h2>
        <p>
          2 Tage vor dem Eingriff dürfen kein Aspirin oder sonstige 
Mittel mit Acetylsalicylsäure eingenommen werden.
          Sollten Sie andere Blutverdünnende Medikamente nehmen oder 
eine Blutgerinnungsstörung haben, besprechen Sie bitte mit uns vorab das
 weitere
          Vorgehen.
        </p>
        <p>
          Beim chirurgischen Abbruch mit örtlicher Betäubung ist es sinnvoll, eine leichte Mahlzeit zu sich zu nehmen,
          aber nicht später als zwei Stunden vorher.
        </p>
        <p>
          Beim chirurgischen Abbruch mit Vollnarkose dürfen Sie 6 
Stunden vorher auf keinen Fall essen, trinken oder
          rauchen. (Nikotin regt die Magensäure an und im Notfall könnte
 säurehaltige Flüssigkeit in die Lunge gelangen!) Bis 1 Stde. vor dem 
Termin können Sie
          klare Flüssigkeit (ohne Milch und Zucker) zu sich nehmen.
        </p>
        <h2>Was müssen Sie mitbringen?</h2>
        <ul><li>Beratungsbescheinigung über die nach §219StGB durchgeführte Beratung oder Indikation nach §218StGB</li><li>Blutgruppennachweis</li><li>Versichertenkarte</li><li>Kostenübernahmebescheinigung oder Bargeld</li><li>Überweisungsschein der Gynäkolog*in</li></ul>
        <p>
          Sie sollten bequeme Kleidung tragen sowie Hygienebinden, Socken und ein Badehandtuch für Ihren Aufenthalt im
          Ruheraum mitbringen.
        </p>
        <a href="https://solidaritaetfuerkristinahaenel.files.wordpress.com/2021/01/schwangerschaftsabbruch.pdf">Quelle</a>
      
    
</section>
