[attributes]
---
label: 'Kompliz*innen '
layout: standard-layout
target_page:
categories:
- resources
is_published: true
position: 3

[wysiwyg content]
<section>
  
    
      
        <h1>
          Kompliz*innen
        </h1>
        <h2>
          Diskriminierungssensible medizinische Versorgung
        </h2>
        <p>
          <a target="_blank" href="https://batchgeo.com/map/9c3f0dc7a5106910c805b30baa4e2a18">Trans*Hilfe-Karte:</a> Kollektive Adress-Sammlung von Beratungsstellen und Gesundheitsversorgung für trans Personen
        </p>
        <p>
          <a target="_blank" href="https://www.queermed.at/">Queermed:</a> Liste queer- und transfreundlicher Ärzt*innen in Österreich
        </p>
        <p>
          <a target="_blank" href="https://www.cocoon-hebammenkollektiv.de/">Cocoon:</a>  Queerfeministisches Hebammenkollektiv in Berlin
        </p>
        <p>
          <a target="_blank" href="https://www.roterstoeckelschuh.de">Roter Stöckelschuh:</a>
  Liste von Ärzt*innen, Kliniken, Therapeut*innen, Beratungsstellen, 
Rechtsanwält*innen, die von/für Sexarbeiter*innen empfohlen werden
        </p>
        <p>
          <a target="_blank" href="https://www.praxis-vielfalt.de">Praxis Vielfalt:</a>
  Liste der Deutschen AIDS-Hilfe Arztpraxen, die für 
diskriminierungsfreien Umgang v.a. mit HIV-positiven Patient:innen 
zertifiziert wurden
        </p>
        <p>
          <a target="_blank" href="https://www.selbstbestimmt-steril.de">Selbstbestimmt steril:</a>
  Liste von Gynäkolog*innen, bei denen volljährige, mündige Personen mit
 Uterus und Sterilisationswunsch eine Sterilisation möglichst unabhängig
 von Alter, Anzahl geborener Kinder oder medizinischer Indikation 
erhalten können.
        </p>
        <p>
          <a target="_blank" href="https://www.andersraum.de/">Andersraum:</a>
  Gemeinnütziger Verein mit Sitz in Hannovers Nordstadt, der queere 
Gesundheitsberatung und Unterstützung und Begleitung für trans* Personen
 und Menschen, die sich nicht innerhalb der binären Geschlechterordnung 
verorten, anbietet.
        </p>
        <p>
          <a target="_blank" href="https://gynandco.wordpress.com/">Gyn & Co:</a>  Feministische Liste von Gynäkolog*innen in Frankreich
        </p>
        <p>
          <a target="_blank" href="https://adopteunegyneco.wordpress.com/">AdopteUnEGynéco:</a>  Feministische Liste von Gynäkolog*innen der französischsprachigen Schweiz
        </p>
        <p>
          <a target="_blank" href="http://gynecopositive.com/">Gynéco Positive:</a>  Feministische Liste von Gynäkolog*innen in Québéc
        </p>
        <p>
          <a target="_blank" href="https://gotogyneco.be/projet/">Go To Gyneco:</a>  Liste von Gynäkolog*innen für bisexuelle, lesbische, queere Frauen in Belgien
        </p>

        <h2>
          Medizinische Versorgung für Menschen ohne Krankenversicherung oder Papiere
        </h2>
        <p>
          <a target="_blank" href="https://medibueros.org">Medibüros in Deutschland</a>
        </p>
        <p>
          <a target="_blank" href="http://poliklinik1.org/">Poliklinik Veddel</a>
        </p>
        <p>
          <a target="_blank" href="https://www.praxisohnegrenzen-hh.de/">Praxis ohne Grenzen</a>
        </p>
        <p>
          <a target="_blank" href="https://www.familienplanungszentrum.de/">Familienplanungszentrum</a>
        </p>
        <h2>
          Feminismus und Healthcare
        </h2>
        <p>
          <a target="_blank" href="http://www.feministische-recherchegruppe.org/">Feminist Health Care Research Group:</a> Künstlerische Recherche-Gruppe zu Care, Gesundheit, Feminismus und Selbstbestimmung in Berlin
        </p>
        <p>
          <a target="_blank" href="https://www.frauenaerzte-im-netz.de/diagnostik/">Frauenärzte im Netz:</a> Begriffserläuterungen zu Diagnostik und Erkrankungen im Bereich der Gynäkologie
        </p>
         <p>
          <a target="_blank" href="https://centerfordoulapathways.com/">Center for Doula Pathways:</a> Intersektionales und interdisziplinäres Doula Zentrum für Versorgung und Ausbildung
        </p>
        <h2>
          Schwangerschaftsabbruch
        </h2>
        <p>
          <a target="_blank" href="http://abortion-clinics.eu/clinic-browser/">Abtreibungskliniken in Europa:</a> Informationen und Adressliste über Abtreibungskliniken in Europa
        </p>
        <p>
          <a target="_blank" href="https://liste.bundesaerztekammer.de//suche">Liste bundesweit:</a>
 Bundesweite Liste von Ärzt*innen, Krankenhäusern und medizinischen 
Einrichtungen, die der Bundesärztekammer mitgeteilt haben, dass sie 
Schwangerschaftsabbrüche unter den Voraussetzungen des § 218a Absatz 1 
bis 3 des Strafgesetzbuches durchführen.
        </p>
        <p>
          <a target="_blank" href="https://www.hamburg.de/schwangerschaftskonfliktberatung/4020554/schwangerschaftsabbruch/">Liste Hamburg:</a> Informationen der Gesundheitsbehörde und Adressliste für Möglichkeiten des Schwangerschaftsabbruchs in Hamburg
        </p>
        <p>
          <a target="_blank" href="https://msfcberlin.com/">Medical Students for Choice Berlin:</a> Studentische Arbeitsgruppe, die sich für eine Verbesserung der medizinischen Ausbildung zum Schwangerschaftsabbruch einsetzt
        </p>
        <p>
          <a target="_blank" href="https://doctorsforchoice.de">Doctors for Choice:</a>
 Deutschlandweites Netzwerk von Ärzt*innen und Medizinstudierenden, die 
für einen selbstbestimmter Umgang mit Sexualität, Fortpflanzung und 
Familienplanung eintreten
        </p>
        <p>
          <a target="_blank" href="https://www.sexuelle-selbstbestimmung.de">Bündnis für sexuelle Selbstbestimmung</a>
 Bündnis aus Beratungsstellen, feministischen Gruppen, Verbänden, 
Netzwerken, Gewerkschaften, Parteien und Einzelpersonen für die 
Entkriminalisierung von Schwangerschaftsabbrüchen
        </p>
        <p>
          <a target="_blank" href="https://www.womenonwaves.org/">Women on Waves:</a>
 Verhütungsmittel, Workshops und sichere, legale 
Schwangerschaftsabbrüche auf Schiffen in Seegebieten, in denen lokale 
(repressive) Gesetzgebung nicht gültig ist, „Abortion App“ für 
Information zu Schwangerschaftsabbruch und Abtreibungspille
        </p>
        <p>
          <a target="_blank" href="https://www.profamilia.de/">pro familia:</a>
 Bietet online Informationen zu Schwangerschaftsabbrüchen; Ärzt*innen, 
Sozialarbeiter*innen, Psycholog*innen und Pädagog*innen stehen als 
Ansprechpartner*innen in zahlreichen Beratungsstellen bundesweit zur 
Verfügung, es gibt auch eine Online-Beratung.
        </p>
      
    </section>
