[attributes]
---
label: Glossar
layout: standard-layout
target_page:
categories:
- resources
is_published: true
position: 2

[wysiwyg content]
<section>
  
    
      
        <h1>
          Glossar
        </h1>
        
          <img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBHUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ca1c6208e79f666ab201e2cbbc9a2af4e76801ba/speculum.png" alt="Speculum Illustration, Fiona Tretau" style="float: right; margin: 0px 0px 10px 10px;">
        
        <p>
          Willkommen bei unserem Glossar. Hier findest du eine Sammlung von 
          Begriffen, die im Kontext von Gynformation eine Rolle spielen und die 
          wir gern erläutern möchten. Das Glossar befindet sich im Aufbau und 
          viele Wörter und Konzepte werden mit der Zeit noch ergänzt.
        </p>
        <p>Wir haben uns bei einigen Definitionen auf bestehende Glossare 
          gestützt, die z.T. leicht verändert wurden, und die wir in Klammern als 
          Quellen angeben – vielen Dank! Das 
          <a href="http://www.femref.uni-oldenburg.de/glossar-2/">Glossar Femref Uni Oldenburg</a>, 
          kennzeichnen wir mit „femref“, das <a href="https://queer-lexikon.net/category/queer-lexikon/glossar/">Queer Lexikon</a>, 
          mit „QL“. Das <a href="https://www.frauenaerzte-im-netz.de/diagnostik/">Diagnostik-Glossar der Frauenärzte im Netz</a>
          kennzeichnen wir mit „FiN“; es beinhaltet zahlreiche gynäkologische Krankheitsbilder 
          und Behandlungsformen, die hier nicht alle im Einzelnen aufgeführt werden 
          können.</p>
        <p>
          <strong>Aromantisch</strong> bezeichnet eine Person, die keine 
          romantische Anziehung verspürt und/oder kein Interesse an romantischen 
          Beziehungen hat. Dies hängt nicht zwangsläufig mit Asexualität 
          zusammen. (QL)
        </p>
        <p>
          <strong>Asexuell</strong> bezeichnet eine Person, die keine oder wenig sexuelle 
          Anziehung zu anderen Menschen fühlt. Asexualität heißt nicht, dass eine 
          Person auf Sex verzichtet (wie z. B. beim Zölibat). Zum einen, da das 
          Zölibat eine freie Entscheidung und keine sexuelle Orientierung ist. 
          Und zum anderen, weil asexuelle Menschen aus verschiedenen Gründen Sex 
          haben können. Asexualität ist ein Spektrum. Asexualität hängt nicht 
          zwangsläufig mit Aromantik zusammen. (QL)
        </p>
        <p>
          <strong>Ableismus</strong> oder auch Behindertenfeindlichkeit 
          beschreibt die (strukturelle) Abwertung von Personen auf Basis von 
          Fähigkeiten. Gegenüber einer sozialen Norm werden Körper, die von 
          dieser abweichen, diskriminiert. Bei normabweichenden neurologischen 
          Funktionen gibt es außerdem den Begriff neurodivergent/ Neurodivergenz.
          Personen, deren neurologische Funktionen gesellschaftlichen Normen 
          entsprechen, sind hingegen neurotypisch. Der Begriff Neurodiversität 
          bezeichnet die Vielfalt menschlicher Daseinsformen aufgrund verschiedener
          neurologischer Funktionsweisen. (femref)
        </p>
        <p>
          <strong>Abstriche</strong> dienen dazu, körpereigenes Untersuchungsmaterial
          aus der Oberfläche von Verletzungen oder Schleimhäuten (z.B. Scheide,
          Gebärmutterhals) zu entnehmen, um es auf Krankheitserreger oder 
          Zellveränderungen untersuchen zu können. In weiteren Schritten kann 
          ein solcher Abstrich dann labor-technisch untersucht werden. 
          Gynäkologische Abstrich-Untersuchungen erfolgen in der Regel auf einem
          gynäkologischen Untersuchungs-Stuhl. Dieser ermöglicht dabei sowohl
          der*dem Ärzt*in als auch der*dem Patient*in die bestmögliche Position 
          für die Untersuchung. Fragen und Befürchtungen bezüglich einer 
          gynäkologischen Untersuchung sollte die*der Patient*in mit der behandelnden
          Person vorher besprechen. Treten während der Untersuchung Schmerzen auf,
          sollte die*der Patient*in darauf aufmerksam machen. In der Regel sind
          mit einem Abstrich keine Schmerzen und kaum Gefahren verbunden. Als 
          Teil des gesetzlichen Krebsfrüherkennungsprogramms kann ein*e Gynäkolog*in
          bei Patient*innen ab dem 20. Geburtstag einmal im Jahr einen sog. 
          Pap-Test vornehmen. Hierfür werden einzelne, oberflächige Zellen mit 
          Hilfe eines Spatels vorsichtig vom Muttermund (Portio-Oberfläche) und 
          mittels einer kleinen Bürste aus dem Gebärmutterhals (Zervikalkanal) 
          entnommen. Anschließend wird die Probe in ein zytologisches Labor 
          überführt, gefärbt und beurteilt, um den Abstrich auf Zellveränderungen, 
          Krebsvorstufen oder Krebszellen zu überprüfen. (FiN)
        </p>
        <p>
          <strong>Alleinerziehende</strong> Personen oder Personen ohne 
          Partner*in können in gynäkologischen Behandlungen Diskriminierungen 
          erleben, wenn die behandelnde Person zum Beispiel von einem heteronormativen,
          traditionellen Familienbild ausgeht. 
        </p>
        <p>
          <strong>Allgemeinärzt*innen</strong> haben wir in unser Verzeichnis 
          eingeschlossen, da auch sie bei entsprechender Qualifizierung 
          Schwangerschaftsabbrüche durchführen können.
        </p>
        <p>
          <strong>Alternative Untersuchungsmethoden</strong> können die
          gynäkologische Untersuchung den Bedürfnissen der*des Patient*in 
          anzupassen, z.B. durch das Angebot einer Untersuchung in der Seitenlage
          statt auf dem gynäkologischen Stuhl, das Angebot einer Selbstuntersuchung,
          das Angebot bekleidet zu bleiben, u.v.m. – je nach Diagnostik- oder
          Behandlungsmethode. Diese Möglichkeiten sollten zumindest erwogen 
          werden, um bspw. Patient*innen mit Erfahrungen sexualisierter Gewalt 
          eine möglichst erträgliche Untersuchung zu ermöglichen.
        </p>
        <p>
          <strong>Bi-/Pansexualität</strong> bezeichnet sexuellen Orientierungen,
          bei denen eine Person Menschen zweier, mehrerer oder aller Geschlechter
          sexuell anziehend finden kann. Und zwar zu unterschiedlichen Momenten
          ihres Lebens, auf sexuelle oder romantische Art, in unterschiedlicher
          Intensität oder auf unterschiedliche Weise. 
        </p>
        <p>
          <strong>Binarität</strong> der Geschlechter bezieht sich auf das 
          Geschlechtersystem, das nur zwei Optionen (und keine Zwischenstufen) 
          zulässt, nämlich männlich und weiblich. Dies gilt für die gesamte 
          Gesellschaft, z.B. die sozialen Rollen, Geschlechtsidentitäten und die
          körperlichen Geschlechter von Menschen. Damit wird so getan, als gäbe es
          intergeschlechtliche, nichtbinäre und andere Menschen, die nicht in
          dieses System passen, nicht. Dieses Geschlechtersystem wird gewaltvoll
          durchgesetzt, z.B. werden intergeschlechtliche Menschen medizinisch 
          unnötigen Eingriffen ausgesetzt, damit sie einem binären Geschlechterbild
          entsprechen oder Menschen erleben Gewalt, wenn sie vermeintlich geschlechter-untypische
          Verhaltensweisen an den Tag legen (z.B. wenn Jungen gern Kleider tragen
          oder Frauen Kraftsport machen etc.). (QL)
        </p>
        <p>
          <strong>Bodyshaming/Fatshaming</strong> bezeichnet die Diskriminierung
          von Personen aufgrund ihrer körperlicher Erscheinung. Menschen, die den
          gesellschaftlichen Normen von Attraktivität nicht entsprechen, werden
          abgewertet oder Vorurteilen ausgesetzt. Häufig äußert sich Bodyshaming
          zum Beispiel darin, Adjektive, die eigentlich einen Körper beschreiben,
          zu charakterlichen Attributen zu machen. So wird bspw. das Wort „dick“
          oft mit Charaktereigenschaften wie faul, ungepflegt oder undiszipliniert
          assoziiert. Bodyshaming kann jede Form von Körpern treffen, neben dicken
          Körpern (Fatshaming), sind dünne Körper (Skinnyshaming), alte oder 
          be_hinderte Körper besonders oft betroffen
        </p>
        <p>
          <strong>Brustkrebs</strong> (Mammakarzinom) ist in den westlichen Ländern
          eine der häufigsten Krebsformen. Das Risiko steigt ab dem 40. Lebensjahr an,
          das mittlere Erkrankungsalter liegt um das 64 Lebensjahr. Etwa ein Drittel
          der Betroffenen ist bei der Erstdiagnose jünger als 55 Jahre. Personen
          mit Brüsten sollten die jährliche Krebsfrüherkennung (Brustuntersuchung
          durch Gynäkolog*innen ab 30) sowie das alle 2 Jahre empfohlene 
          Mammografiescreening (ab 50) wahrnehmen. Für familiär vorbelastete Personen
          gibt es ein spezielles, intensiviertes Früherkennungsprogramm. (FiN)
        </p>
        <p>
          <strong>Chronische Erkrankungen</strong> sind Erkrankungen, die länger
          andauern und schwer heilbar sind. Sie sind sehr vielfältig, müssen aber
          in der gynäkologischen Behandlung sensibel und kompetent mitgedacht werden,
          z.B. in Bezug auf Medikation (speziell hormonelle Verhütung) oder auf
          das Thema Risikoschwangerschaft.
        </p>
        <p>
          <strong>Cis</strong> (lat. „diesseits“) beschreibt Personen, die sich 
          mit dem binären Geschlecht, das ihnen bei der Geburt zugewiesen wurde,
          identifizieren. (femref)
        </p>
        <p>
          <strong>Consent bedeutet</strong> so viel wie Konsens bzw. Einverständnis oder 
          Zustimmung. Auf unserer Webseite sprechen wir vor allem von Zustimmung 
          im Kontext gynäkologischer bzw. medizinischer Untersuchungen und 
          Behandlungen. Hier geht es darum, dass die behandelnde Person mit ihren
          Patient*innen abstimmt, ob bestimmte Behandlungen, Fragen, Untersuchungen
          oder auch Berührungen für diese okay sind, bevor sie diese durchführt.
          Dazu gehört auch, dass die*der Patient*in vorher ausreichend informiert
          ist und weiß, wozu sie*er Einwilligung gibt und sich frei entscheiden
          kann, also vorurteilsfrei aufgeklärt wurde, nicht unter Druck steht
          und selbstverständlich auch bei vollem und klarem Bewusstsein ist. Bei
          Notfällen kann in der Medizin nicht immer in diesem Sinne konsensual 
          gehandelt werden, wenn dies aber möglich ist, dann kann jede*r Patient*in
          einfordern, dass auf die eigenen Grenzen geachtet wird und diese respektiert werden.
        </p>
        <p>
          <strong>Dick</strong> ist eine politische Selbstbezeichnung, die im Gegensatz zu
          dem Begriff „übergewichtig“ kein Defizit impliziert, und im Gegensatz
          zu Begriffen wie „mollig“ nicht vermittelt, dass Dicksein etwas Negatives
          sei, das nicht benannt werden dürfe. Die Wiederaneignung des Begriffes „dick“
          von dicken Menschen soll zeigen, dass „dick“ keine Beleidigung ist, 
          genau so wenig wie z.B. „schwul“. Dicke Menschen können wegen ihres 
          Äußeren in allen gesellschaftlichen Bereichen Diskriminierungen erleben.
          Vor allem im medizinischen Bereich erleben dicke Menschen oft, dass 
          gesundheitliche Beschwerden automatisch auf ihr Körpergewicht geschoben
          werden, statt sachlich nach den Ursachen für verschiedene Symptome zu suchen. 
        </p>
        <p>
          <strong>Divers</strong> ist seit dem 01.01.2019 ein juristischer Geschlechtseintrag,
          der vor allem von intergeschlechtlichen und nichtbinären Personen benutzt
          wird. Es handelt sich dabei nicht um ein eigenes Geschlecht, sondern um 
          einen Schirmbegriff für viele verschiedene Geschlechter. (QL)
        </p>
        <p>
          <strong>Drogenkonsument*innen</strong> begegnen in medizinischen Kontexten häufig 
          Diskriminierungen oder Vorurteilen. Die Aufgabe einer medizinisch 
          behandelnden Person ist es aber nicht, die Lebensweise einer Patient*in 
          moralisch zu beurteilen, sondern diese kompetent, vertrauensvoll und sachlich
          zu beraten, sie über Gesundheitsrisiken zu informieren und sie ungeachtet
          ihrer Lebensweise als Patient*in in ihren Entscheidungen ernst zu nehmen.
          Abwertende Äußerungen oder Verhaltensweisen seitens der Behandelnden 
          Person führen zu Vertrauensverlust – dieses Vetrauen ist aber für die 
          gynäkologische Behandlung grundlegend.
        </p>
        <p>
          <strong>Dyadisch</strong>, kurz: dya, bezeichnet Personen, die nicht inter sind. 
          Heißt: Personen, die einen Körper besitzen, der normativen, binären 
          Vorstellungen von Geschlecht entspricht. (femref)
        </p>
        <p>
          <strong>Endometriose</strong> ist der Name einer gutartigen, meist schmerzhafte 
          Wucherungen von Gewebe der Gebärmutterschleimhaut (Endometrium), das 
          sich außerhalb der Gebärmutter in benachbarten Organen ansiedelt. Diese
          versprengten Endometrioseherde wachsen während des Monatszyklus analog
          zur Gebärmutterschleimhaut. Damit verbunden sind krampfartige Schmerzen 
          sowie oft chronische Bauch- und Rückenschmerzen, die während des Menstruationszyklus
          auftreten. (FiN) Die Beschwerden werden leider oftmals nicht ernst 
          genommen oder als gewöhnliche Menstruations-Beschwerden abgetan, was 
          oft auch mit sexistischen Vorstellungen von Schmerzempfinden zusammenhängt.
          Es findet eine gesellschaftliche Tabuisierung der Erkrankung statt, die
          auch mit der Tabuisierung von Menstruation allgemein zu tun hat. (Lesetipp: 
          <a href="https://ze.tt/endometriose-betroffene-erzaehlen-wie-sie-mit-der-chronischen-erkrankung-umgehen/">Endometriose: Betroffene erzählen, wie sie mit der chronischen Erkrankung umgehen</a>)
        </p>
        <p>
          <strong>Erfahrung</strong> ist eine spezielle Form des Wissens, die nicht in Büchern
          oder im Studium erworben werden kann. Bestimmte Erfahrungen werden von 
          Personengruppen geteilt und sind für diese Gruppen Vertrauensgrundlage. 
          Aufbauend auf dieser Annahme arbeiten in unserem Kollektiv nur Personen, 
          die selbst Erfahrungen als Patient*in gynäkologischer Behandlungen haben. 
          Auch ist die persönliche Erfahrung das Schlüsselelement unserer Datenbank – 
          Empfehlungen können einzig auf dem Weg der positiven Erfahrung einer*s Patient*in
          den Weg in das Gynformation-Verzeichnis finden. Wenn eine behandelnde 
          Person für eine bestimmte Gruppe, z.B. trans Personen, empfohlen wird, 
          gehen wir davon aus, dass diese Aussage in erster Linie von einer trans
          Person selbst getroffen werden kann. Deshalb fragen wir diese beiden Aspekte
          aneinander geknüpft am Ende des Fragebogens ab.  
        </p>
        <p>
          <strong>FGM/FGC</strong> ist die Abkürzung für „Female Genital Mutilation“ 
          (weibliche Genitalverstümmelung) bzw. „Female Genital Cutting“ (weibliche
          Genitalbeschneidung) und bezeichnet die ganze oder teilweise Entfernung 
          bzw. Beschädigung der äußeren weiblichen Geschlechtsorgane. In der 
          gynäkologischen Behandlung können die betroffenen Personen leicht 
          diskriminierenden, rassistischen oder übergriffigen Bemerkungen 
          ausgesetzt werden.
        </p>
        <p>
          <strong>FLINT+</strong> steht kurz für Frauen, Lesben, Inter, Nichtbinär, Trans.
          Die Reihenfolge der Buchstaben ist frei wählbar. Das + markiert, dass 
          der Begriff nicht abgeschlossen ist und erweitert werden kann. (femref)
        </p>
        <p>
          <strong>Gebärmutterhalskrebs</strong> entsteht am Gebärmutterhals (Zervix), der 
          Verbindung zwischen dem unteren Bereich der Gebärmutter zur Scheide. 
          Dort kann eine Krebserkrankung (Karzinom), das sogenannte Zervixkarzinom,
          auftreten. Voraussetzung für die Entstehung eines Zervixkarzinoms ist 
          in der Regel eine Ansteckung und langjährige Infektion mit bestimmten 
          krebsauslösenden Humanen Papillomviren. Sie werden meist beim Geschlechtsverkehr 
          durch direkten Haut- oder Schleimhautkontakt übertragen. Erste Hinweise auf 
          Zellveränderungen am Gebärmutterhals können im Rahmen der wichtigen 
          jährlichen gesetzlichen Früherkennungsuntersuchung gewonnen werden. (FiN)
        </p>
        <p>
          <strong>Gender</strong> beschreibt auf einer wissenschaftlichen Ebene das sozial
          konstruierte Geschlecht und auf einer aktivistischen und persönlichen 
          Ebene die Geschlechtsidentität einer Person. Geschlechtsidentität bedeutet 
          hier die persönliche Vorstellung vom eigenen Geschlecht und der eigenen 
          Geschlechterrolle, die nicht mit der gesellschaftlich zugeschriebenen 
          Geschlechterrolle aufgrund von biologischen Merkmalen übereinstimmen muss. 
          Innerhalb der Gesellschaft ist Gender das Konzept, nach dem wir verschiedene 
          Ideen wie sozialen Status, Geschlechtspräsentation, Rolle in der Gesellschaft, 
          Lebensplanung und Sexualität in die Kategorien von Geschlecht, wie bspw. 
          Männlichkeit und Weiblichkeit, einordnen. (QL)
        </p>
        <p>
          <strong>Gender-Sternchen (*):</strong> Ein grammatikalisches Zeichen, das als Form
          der geschlechtergerechten Sprache benutzt wird, beispielsweise ‘Lehrer*innen’
          im Gegensatz zu ‚Lehrer‘, um auch weibliche und nichtbinäre Menschen einzuschließen. (QL)
        </p>
        <p>
          <strong>Heteronormativität</strong> ist ein Begriff, der beschreibt, dass die 
          binäre und vermeintlich eindeutige Zweigeschlechtlichkeit und die 
          Heterosexualität in unserer Gesellschaft die Norm darstellen. Durch 
          diese Machtstruktur werden alle diejenigen abgewertet, die sich jenseits
          der Zweigeschlechtlichkeit verorten, oder deren Körper nicht der binären,
          sexistischen Norm entsprechen – und alle diejenigen, die mit der 
          Vorstellung brechen, dass sich Mann und Frau gegenseitig heterosexuell
          begehren, indem sie beispielsweise lesbisch, schwul oder bisexuell l(i)eben. (femref)
        </p>
        <p>
          <strong>Heterosexuell</strong> sind Menschen, die sich sexuell zu Menschen des/eines
          anderen Geschlechts hingezogen fühlen. Meist wird dabei zudem von einem 
          binären Geschlechterbild ausgegangen. Diese sexuelle Orientierung gilt 
          als Norm in unserer Gesellschaft. (QL)
        </p>
        <p>
          <strong>HIV-Tests</strong> dienen zur Feststellung der Infizierung mit dem Human
          Immunodeficiency Virus, was aus dem Englischen übersetzt „menschliches
          Immundefekt-Virus" bedeutet. Die Krankheit, die durch dieses Virus 
          ausgelöst wird, wird Acquired Immunodeficiency Syndrome, kurz AIDS, 
          genannt. HIV-positive Menschen erleben in Gesellschaft und Medizin 
          Diskriminierungen. Doch auch HIV-negative Personen, die zu sogenannten 
          „Risikogruppen“ gehören, können von damit assoziierten Diskriminierungen
          betroffen sein. HIV-Test sollten ohne Rechtfertigungszwang allen zur 
          Verfügung gestellt werden, die danach fragen.
        </p>
        <p>
          <strong>Homosexuell</strong> sind Menschen, die sich zu dem eigenen oder einem 
          ähnlichen Geschlecht hingezogen fühlen. Homosexuelle Männer werden als 
          schwul bezeichnet, homosexuelle Frauen als lesbisch. Die Bezeichnung 
          ‚homosexuell‘ lehnen viele Lesben und Schwule ab, da der Begriff in 
          seiner Entstehungszeit vor allem medizinisch gebraucht wurde. (QL)
        </p>
        <p>
          <strong>Inter</strong> (lat. „zwischen“), Intersex oder auch intergeschlechtlich 
          sind Personen, deren Körper von der normativen Vorstellung 
          zweigeschlechtlicher Körper abweichen. Diese Begriffe sind Selbstdefinitionen,
          während der Begriff der “Intersexualität” aus einer medizinisch pathologosierenden 
          Perspektive geprägt wurde. Auf Basis medizinischer Einschätzung und rechtlicher 
          Ordnung werden oft kurz nach ihrer Geburt die Körper von inter Personen 
          mittels Operationen, Hormongabe und Sozialisation gewaltvoll dem Bild binärer 
          Zweigeschlechtlichkeit angepasst. (femref)
        </p>
        <p>
          <strong>Kinderwunschbehandlung</strong> ist die reproduktionsmedizinische Unterstützung 
          bei unerfülltem Kinderwunsch. Behandlungsmethoden sind die Intrauterine oder 
          heterologe Insemination, eine Hormontherapie, die In- Vitro-Fertilisation (IVF) 
          oder die Intrazytoplasmatische Spermieninjektion (ICSI). Eine Kinderwunschbehandlung 
          bedeutet eine immense finanzielle Belastung. Für verheiratete heterosexuelle 
          Paare übernehmen die gesetzlichen Krankenkassen meist 50% der Kosten für eine 
          Kinderwunschbehandlung. Nicht verheiratete Paare werden nicht finanziell unterstützt. 
          Bei unverheirateten heterosexuellen Paaren kann die Behandlung laut BMSFJ nur 
          gefördert werden, wenn die Bindung „eine auf Dauer angelegte Lebensgemeinschaft“ 
          darstellt. Es gibt kein verbindliches Gesetz dazu, ob homosexuellen Frauen Zugang 
          zu Kinderwunschbehandlungen haben können, ob verheiratet oder nicht. Die Richtlinien 
          der Landesärztekammern der Bundesländer sind uneinheitlich. Homosexuelle Paare werden 
          oft nicht erwähnt oder ihnen werden reproduktionsmedizinische Therapien explizit verwehrt. 
          (<a href="http://www.queer-baby.info/">http://www.queer-baby.info/</a>, 
          <a href="https://queerkids.de/insemination/">https://queerkids.de/insemination/</a>, 
          <a href="https://www.informationsportal-kinderwunsch.de/">https://www.informationsportal-kinderwunsch.de/</a>)
        </p>
        <p>
          <strong>Klassismus</strong> ist die Bezeichnung für individuelle, strukturelle 
          oder kulturelle Diskriminierung, Ausbeutung und Marginalisierung von 
          Personen in Bezug auf ihren tatsächlichen oder den ihnen zugeschriebenen 
          sozialen und/oder bildungspolitischen Status. (femref)
        </p>
        <p>
          <strong>Kolposkopie</strong> (griech. „Kolpo"=Scheide und „skopie"=betrachten) 
          wird eine diagnostische Methode zur Erkennung von Erkrankungen des 
          Gebärmutterhalses und zur Früherkennung des Gebärmutterhalskrebses. 
          Sie sollte im Verdachtsfall ergänzend zum Zellabstrich durchgeführt 
          werden. Im Januar 2020 rief die Einführung des neuen Programms zur 
          Krebsfrüherkennung durch Bundesgesundheitsminister Jens Spahn heftige 
          Kritik bei Gynäkolog*innen und Patient*innen hervor: 
          <a href="https://www.bvf.de/aktuelles/pressemitteilungen/meldung/news/bvf-fordert-verschiebung-des-neuen-kfu-programms/">Frauenärzte schlagen Alarm – neues Programm zur Krebsfrüherkennung wird ein Desaster</a>
        </p>
        <p>
          <strong>Lesbisch</strong> ist eine Bezeichnung für Frauen oder manche nichtbinäre 
          Personen, die sich romantisch und/oder sexuell zu anderen Frauen bzw. 
          weiblichen Personen hingezogen fühlen. (QL)
        </p>
        <p>
          <strong>Menopause</strong> bezeichnet die letzte Periodenblutung im Leben einer 
          menstruierenden Person.
        </p>
        <p>
          <strong>Monogamie</strong> bedeutet ‚Einehe‘ und beschreibt, dass eine Person 
          nur mit einer Person auf einmal verheiratet ist oder eine romantische 
          und sexuelle Beziehung führt. Monogame Beziehungen sind in Deutschland
          eine gesellschaftliche Norm, deshalb werden nicht-monogame Modelle z.T. 
          nicht ernst genommen, nicht mitgedacht oder unsichtbar gemacht. (QL)
        </p>
        <p>
          <strong>Nichtbinär</strong> oder nonbinary bezeichnet Personen, die sich außerhalb 
          der hegemonialen Zweigeschlechtlichkeit verorten. Die Lebensrealität von 
          nicht binären Personen ist divers, sie können gleichzeitig auch cis/trans 
          und dyadisch/inter sein. (femref)
        </p>
        <p>
          <strong>Pathologisierung</strong> ist die Deutung von Verhaltensweisen, 
          Wahrnehmungen, sozialen Verhältnissen, Lebensweisen, körperlichen 
          Merkmalen und Abweichungen vom medizinisch definierten „Normalzustand“ 
          als krankhaft. 
        </p>
        <p><strong>Patriarchat</strong> beschreibt ein gesellschaftliches System von 
          sozialen Beziehungen der männlichen Herrschaft. Wird von einer 
          patriarchalen Gesellschaft gesprochen, meint dies eine Gesellschaft, 
          in der die Herrschaft der dyacis-Männer über FrauenLesbenInterTransNichtbinär 
          (FLINT+) institutionalisiert und manifestiert ist. In patriarchalen Strukturen 
          ist das Weibliche dem Männlichen strukturell untergeordnet. Das Patriarchat 
          ist eine gewaltvolle Gesellschaftsstruktur, die es zu bekämpfen gilt. (femref)
        </p>
        <p>
          <strong>PMS</strong> steht für „prämenstruelles Syndrom: Die Tage vor der 
          Menstruation können eine ganze Vielzahl von körperlichen und psychischen 
          Beschwerden verursachen, wie etwa Schmerzen, Abgeschlagenheit, Ödeme, 
          Reizbarkeit, Depressionen, Überempfindlichkeit, um nur einige Beispiele 
          zu nennen. PMS gehört zu den häufigsten gynäkologischen Beschwerdebildern. 
          Regelmäßig vor Beginn der Menstruationsblutung belastet gut zwei Drittel 
          aller menstruierenden Menschen ein ganzer Komplex von Beschwerden. 
          Eine Palette von mehr als 150 Symptomen, die unterschiedlich oft und 
          intensiv, jedoch stets in der zweiten Zyklushälfte auftreten. Sie beginnen 
          zehn bis 14 Tage vor der Menstruation, verschlimmern sich meist zunehmend, 
          um dann am ersten oder zweiten Tag der Blutung wieder zu verschwinden. PMS 
          tritt bevorzugt bei Personen über 30 auf. In einigen Fällen können die 
          Symptome so stark sein, dass sie zeitweilig zu Arbeitsunfähigkeit führen 
          und die sozialen, familiären und geschäftlichen Beziehungen extrem belasten. 
          Betroffene sind mitunter einem erheblichen Leidensdruck ausgesetzt, der nicht 
          einfach hingenommen werden sollte. (FiN)
        </p>
        <p>
          <strong>Polyamouröse</strong> Menschen verlieben sich in mehr als nur eine Person 
          auf einmal und können romantische und/oder sexuelle Beziehungen mit mehr 
          als einer Person haben. Wichtig ist, dass alle Beziehungs- und/oder 
          Sexualpartner*innen von diesem Arrangement wissen und damit einverstanden sind. (QL)
        </p>
        <p>
          <strong>Pronomen</strong> sind Bezeichnungen von Personen in dritter Person. Es 
          gibt eine breite Auswahl an verschiedenen Pronomen, wie u.a. ‘sie’, 
          ‘es’, ‘m’, ‘si:er’, aber auch die Möglichkeit, dass Personen kein Pronomen 
          für sich wünschen oder den eigenen Namen als Pronomen verwenden. Pronomen 
          können nicht von Körpern abgelesen werden, sondern nur durch Fragen 
          herausgefunden werden. Anderen Personen ein Pronomen einfach zuzuweisen 
          ist oft gewaltvoll. Es kann auch der Name der Person statt Pronomen 
          verwendet werden, bis sich die Gelegenheit zum Erfragen des Pronomens ergibt. (femref)
        </p>
        <p>
          <strong>Queer</strong> war im Englischen lange Zeit ein Schimpfwort, insbesondere 
          gegenüber schwulen Männern. Heute wird der Begriff aber meist positiv 
          als Selbstbezeichnung gebraucht, vor allem von Menschen, die ihre Identität 
          als ‚außerhalb der gesellschaftlichen Norm‘ ansehen. Außerdem kann queer 
          als Überbegriff für Menschen benutzt werden, die nicht in die romantischen, 
          sexuellen und/oder geschlechtlichen Normen der Gesellschaft passen. Queer ist 
          aber auch eine Theorierichtung und ein Wissenschaftszweig, in dem Schubladendenken 
          aufgebrochen wird, verschiedene Unterdrückungsformen miteinander verknüpft 
          gedacht werden sollen und insbesondere Sexualität als ein Ort der Unterdrückung 
          untersucht wird. (QL)
        </p>
        <p>
          <strong>Schwul</strong> ist eine Bezeichung für Männer oder sich mit Männlichkeit 
          identifizierenden nichtbinären Personen, die sich romantisch und/oder 
          sexuell zu Männern oder männlichen Personen hingezogen fühlen. 
        </p>
        <p>
          <strong>Sexismus</strong> als strukturelles Machtsystem ist gesellschaftliche Realität, 
          institutionell verankert und individuell verinnerlicht. Sexismus baut auf 
          der gegensätzlichen Unterscheidung und Biologisierung von genau zwei 
          Geschlechtern und deren Hierarchisierung auf. Durch Sexismus werden 
          dyacis-Männer gegenüber FrauenLesbenInterTransNonbinary privilegiert. 
          Es gibt daher keinen Sexismus gegenüber dyacis-Männern. (femref)
        </p>
        <p>
          <strong>Staging-OP/Total-OP:</strong> Beim Eierstockkrebs kann es sein, dass eine Staging-OP 
          (wird manchmal auch Total-OP (sic!) gennant) durchgeführt wird. "Staging" als 
          Begriff wird im onkologischen Kontext dafür verwendet, um zu beschreiben, 
          dass der Fortschritt und die histologische Einteilung (also die unter 
          dem Mikroskop beobachteten Zelltypen) einer Krebsart eingeschätzt wird. 
          Bei positiver Histologie (Krebs wurde unter dem Mikroskop nachgewiesen) 
          wird die radikale Staging OP durchgeführt. Dafür werden Uterus, Eierstöcke, 
          Eileiter, einige Lymphknoten, Bauchnetz und Bauchfell, sowie alle andere 
          Organe die befallen sind und entfernt werden können, rausoperiert. Das 
          Gewebe wird dann in der Pathologie analysiert, um einzuschätzen wie 
          fortgeschritten der Krebs tatsächlich ist. Mit diesen Informationen kann 
          somit die weitere Therapie geplant werden.
        </p>
        <p><strong>Stillen</strong> hat viele Vorteile, jedoch kann es auch leicht belastende 
          Aufgabenteilung und ungleiche Zuständigkeiten zwischen der stillenden 
          Person und einer*m Partner*in fördern. Auch gibt es viele Gründe, weshalb 
          das Stillen für manche Personen nicht möglich oder nicht erträglich sein 
          kann. Menschen sollten stillen, solange sich alle Beteiligten wohl in ihrer 
          Rolle fühlen. Es ist ratsam, sich bereits während der Schwangerschaft zu 
          informieren. Eine schnelle Rückkehr in den Beruf bei hohem zeitlichem 
          Engagement kann beispielsweise bei manchen Personen gegen das Stillen sprechen, 
          muss es aber nicht. Möchte eine Person absolut nicht stillen, sollte sie 
          rechtzeitig mit ihrer*m Ärzt*in besprechen, wie die Milchbildung unterdrückt 
          werden kann. (FiN) Es ist auch wünschenswert, dass Hebammen/Gynäkolog*innen 
          schwangere Personen (und Partner*innen) zu Möglichkeiten des geschlechtersensiblen 
          Umgangs mit dem Stillen beraten – deshalb haben wir diese Kategorie in unsere 
          Behandlungsmethoden aufgenommen.
        </p>
        <p>
          <strong>Tastuntersuchungen</strong> erfolgen in der Regel auf einem gynäkologischen 
          Untersuchungsstuhl. Je nach Lage kann die*der Ärzt*in manchmal erkrankte 
          Organe und Tumore durch einfaches Abtasten entdecken. Personen, die eine 
          solche Untersuchung zum ersten Mal wahrnehmen, Schwangeren im fortgeschrittenen 
          Schwangerschaftsverlauf, oder anderen Personen, die eine andere Position 
          bevorzugen oder benötigen, kann auch eine Untersuchungsliege angeboten 
          werden, wenn ihnen die Situation aufgrund von Schamgefühlen oder 
          Bewegungseinschränkung damit leichter fällt. (FiN)
        </p>
        <p>
          <strong>trans</strong> (lat. „jenseits“, „hinüber“) ein Überbegriff für transsexuelle, 
          transidente und transgender Menschen und alle Menschen, die sich nicht mit 
          dem Geschlecht identifizieren, dem sie bei der Geburt zugewiesen wurden. 
          Trans ist ein Sammelbegriff für verschiedenste selbstbestimmte Identitäten. 
          Es gibt sowohl nicht-binäre, wie auch binäre trans Personen, solche, 
          welche ihre Körper modifizieren wollen oder haben oder ebenso solche, 
          die kein Bedürfnis danach haben. (femref, QL)
        </p>
        <p>
          <strong>Transition</strong> bezeichnet den Prozess, in dem eine trans Person soziale, 
          körperliche und/oder juristische Änderungen vornimmt, um die eigene 
          Geschlechtsidentität auszudrücken. Dazu können Hormontherapien und Operationen 
          gehören, aber auch Namens- und Personenstandsänderungen, ein anderer 
          Kleidungsstil und vieles andere. (QL)
        </p>
        <p>
          <strong>Unerfüllter Kinderwunsch</strong> beschreibt laut Weltgesundheitsorganisation (WHO) 
          den über mindestens zwei Jahre erfolgten Versuch, durch ungeschützten Geschlechtsverkehr 
          ein Kind zu zeugen. Ein unerfüllter Kinderwunsch kann vielfältige körperliche und auch 
          seelische Ursachen haben. Auch viele queere Paare haben einen unerfüllten Kinderwunsch, 
          der von der Definition der WHO abweichen kann und oft dadurch bedingt ist, dass ihnen 
          der Zugang zu Kinderwunschbehandlungen rechtlich verwehrt wird.
        </p>
        <p>
          <strong>Vaginale Corona</strong> (oder vaginales Kränzchen) bezeichnet den elastischen 
          Schleimhautkranz am Eingang der Vagina. Bei 80% der Menschen, die mit Vagina 
          geboren wurden, hat die Vaginale Corona eine Ringform. Nur in seltenen Fällen 
          ist die Corona zusammengewachsen bzw. verschlossen. In diesen Fällen ist ein 
          operativer Eingriff notwendig, damit Menstruationsblut und Sekrete abfließen 
          können. Die vaginale Corona wird oft fälschlicherweise als „Jungfernhäutchen“ 
          bezeichnet und als Indikator für sexuelle Aktivität angesehen. Dies ist jedoch 
          nichtzutreffend. Der Zustand der vaginalen Corona sagt nichts darüber aus, ob 
          eine Person bereits Geschlechtsverkehr mit Einführen eines Penis gehabt hat oder nicht.
        </p>
        <p>
          <strong>Vaginismus</strong> bezeichnet das unwillkürliche Verkrampfen der Vaginal- und 
          Beckenbodenmuskulatur, das ein Einführen/Aufnehmen von Menstruationsprodukten, 
          Untersuchungsinstrumenten, Fingern, Penis, Toys, oder anderen Dingen in die Vagina 
          schwierig bis unmöglich macht. Der Versuch des Einführens ist meist mit starken 
          Schmerzen verbunden. Vaginismus kann primär oder sekundär auftreten. Der primäre 
          Vaginismus besteht, wenn die betroffene Person noch nie etwas in ihre Vagina 
          aufnehmen oder eine gynäkologische Untersuchung durchführen lassen konnte. Der 
          sekundäre Vaginismus tritt erst im Laufe des Lebens auf und kann unter anderem 
          durch traumatische Erfahrungen ausgelöst werden.
        </p>
        <p>
          <strong>Vulva</strong> bezeichnet den Teil der weiblichen Geschlechtsorgane, der von 
          außen sichtbar ist. Zur Vulva gehören die Vulvalippen, die Klitoris und der Scheideneingang.
        </p>
        <p>
          <strong>Vulvodynie</strong> ist die Bezeichnung für chronische Schmerzen und Missempfindungen 
          am äußeren Bereich der Vulva, für die keine klaren Ursachen auszumachen sind. Die 
          Symptome können sich durch Juckreiz, Brennen, Druckschmerzen, Wund-Sein oder Stechen 
          ausdrücken. Die Schmerzen treten meist dauerhaft auf und führen zu Einschränkungen 
          im Alltag, beim Sport und Sex. Die Ursache der Vulvodynie ist bislang unklar. Vermutet 
          wird eine Interaktion von ursprünglichen körperlichen Beschwerden und folgenden 
          psychischen Faktoren, die zu einem gestörten Schmerzgedächtnis führen. Es gibt viele 
          verschiedene Behandlungsansätze, die Betroffene ausprobieren können.
        </p>
      
    
  </section>
