[attributes]
---
label: Standard Layout
app_layout: application
position: 0

[content]
<section class="section static">
  <div class="container faq">
    <div class="columns">
      <div class="column content is-8 is-offset-2 is-size-6">
				{{ cms:wysiwyg content }}
      </div>
    </div>
  </div>
</section>

[js]


[css]


