<%= form_with(url: yield(:resource_path), model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div class="notification is-danger">
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="control">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :teaser %>
      <%= form.text_area :teaser, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :publish_date %>
      <%= form.date_field :publish_date, class: 'publish_date' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :main_image %>
      <%= form.file_field :main_image %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :main_image_title %>
      <%= form.text_area :main_image_title, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :main_image_credit %>
      <%= form.text_area :main_image_credit, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :body %>
      <%= form.rich_text_area :body, rows: 15 %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :author %>
      <%= form.text_field :author, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :published %>
      <%= form.check_box(:published) %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <div class="post-tag-label">
        <div class="select is-multiple is-multi-search-choice tag-is-multi-search-choice">
          <%= form.select(:post_tag_ids, PostTag.all.collect {|post_tag| [ post_tag.name[I18n.locale.to_s], post_tag.id ] }, {}, { :multiple => true, :size => 5, class: "select-multiple" } )  %>
        </div>
        <%= link_to t('admin.new_post_tag'), new_admin_post_tag_path, class: 'button is-secondary' %>
      </div> 
    </div> 
  </div>
  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
