<% provide(:resource_path, admin_post_path) %>
<div class='container'>
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <h1>Edit Post</h1>
      <%= render 'form', post: @post %>
      <div class="m-t-md admin-post-navigation">
        <%= link_to 'Show', admin_post_path(@post) %> |
        <%= link_to 'Back', admin_posts_path %>
      </div>
    </div>
  </div>
</div>
