<%= render 'shared/post_detail_view', post: @post  %>
<div class="columns">
  <div class="column is-8 is-offset-2">
    <%= link_to 'Edit', edit_admin_post_path(@post) %> |
    <%= link_to 'Back', admin_posts_path %>
  </div>
</div>
