[attributes]
---
label: Kontakt
layout: standard-layout
target_page:
categories:
- footer
is_published: true
position: 7

[wysiwyg content]
<section>
  
    
      
        <h1>Kontakt
        </h1>
        
          
        
        <p>Ihr erreicht uns per Mail über <a href="mailto:kontakt@gynformation.de">kontakt@gynformation.de</a></p>
        <p>Wenn ihr eure E-Mails mit GPG verschlüsselt möchtet, könnt ihr unseren öffentlichen Schlüssel <a href="https://www.gynformation.de/assets/gynformation_pub-b30e0f9a337499f7885204f7e5ff74ed2568065f981744968aaccd2545270fd6.asc">hier herunterladen</a>. Der Fingerprint von unserem öffentlichen Schlüssel lautet: 
        <code>BD08 CC2D F2BD 6549 6B74  84DF B12A 3316 251D CFE1</code>.</p>
        <p>Ihr könnt den öffentlichen Schlüssel auch von einem öffentlichen Keyserver über folgenden Befehl laden:</p>
        <code>gpg --recv-keys 0xBD08CC2DF2BD65496B7484DFB12A3316251DCFE1</code>
      
    
</section>
