<div id="clearance" class="password-reset">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h2 class="title"><%= t(".title") %></h2>
        <p><%= t(".description") %></p>
        <%= form_for :password, url: passwords_path do |form| %>
          <div class="field">
            <div class="control">
              <%= form.label :email %>
              <%= form.text_field :email, type: 'email', class: 'input'  %>
            </div>
          </div>
          <div>
            <%= form.submit t(".submit"), class: 'button is-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
