.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .ribbon {
    background-color: $primary;
    font-family: $family-monospace;
    text-transform: uppercase;
    font-size: 1.9rem;
    white-space: nowrap;
    overflow: hidden;
    span {
      margin-right: 1.5rem;
    }

    @include until($tablet) {
      font-size: 0.8rem;
    }
  }

  .footer-content {
    flex: 1;
    padding: 2.5rem 1.5rem 2.5rem;
    font-size: 1.25rem;
    margin-bottom: 0;

    a {
      color: $danger;
      margin-right: 1rem;
      &:hover {
        color: $primary;
      }
    }
  }

  .logo {
    font-family: $family-monospace;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: $primary;
    text-align: right;
    margin-right: 1.5rem;
  }
}
