@import "bulma";
// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  h1 {
    font-size: 2rem;
  }

  .info-box {
    background-color: $primary-light;
    padding: 1rem;
  }
}

.post-teaser {
  margin-bottom: 4rem;

  .post-image-container {
    display: flex;
    justify-content: center;

    .post-image {
      max-height: 15rem;
    }
  }

  .content h2:not(:first-child) {
    margin-top: 0;
  }

  .content .publish-date {
    margin-bottom: 0.5rem;
  }

  .author {
    margin-top: 1.75rem;
  }

  .teaser {
    font-size: 1.25rem;
  }

  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }

  .tags .tag{
    @include until($tablet) {
      font-size: 0.8rem;
      height: auto;
      display: inline;
      white-space: normal;
    }
  }
}

.post-detail {
  .teaser, .author {
    font-size: 1.25rem;
  }

  .body {
    white-space: pre-line;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0)), color-stop(35%, #19E4E8), color-stop(75%, #19E4E8), color-stop(75%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E8 35%, #19E4E8 75%, rgba(255, 255, 255, 0) 75%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E8 35%, #19E4E8 75%, rgba(255, 255, 255, 0) 75%);
    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E8 35%, #19E4E8 75%,
        rgba(255, 255, 255, 0) 75%);
    text-decoration: none !important;
    color: black;
  }

  .title {
    @include until($tablet) {
      font-size: 1.2rem;
    }
  }

  img {
    @include from($tablet) {
      max-height: 30rem;
    }
  }
}

.post-tag-label {
  display: flex;
  align-items: center;
}
