.profile {
  &__element {
    margin-top: 1rem;
  }

  .box {
    border: 8px solid $primary;
    position: relative;
  }

  .profile-detail-btn {
    font-size: 1.25rem;
    align-self: end;
  }

  .profile__element .content h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .category {
    font-size: 1.25rem;
  }

  .content {
    display: flex;
    flex-direction: column;

    h3 {
      @include from($tablet) {
        margin-top: 0rem;
      }
    }
    
    .tag {
      @include until($tablet) {
        height: auto;
        display: inline;
        white-space: normal;
      }
    }
  }
}

.profile-detail {
  border: 8px solid $primary;
  padding: 1.5rem;
  position: relative;

  .category {
    font-size: 1.25rem;
  }

  p {
    white-space: pre-line;
  }
}

.profile-detail, .profile {
  .questionnaire_count {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    background-color: $primary;
    color: white;
  }
}

.content .profile-detail {
  @include until($tablet) {
    font-size: 0.8rem;
  }
}

.content .profile-detail h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0rem;

  @include until($tablet) {
    font-size: 1.8rem;
  }
}

.content .profile-detail h4 {
  @include until($tablet) {
    font-size: 0.9rem;
  }
}

.content .profile-detail .tags .tag {
    @include until($tablet) {
      font-size: 0.8rem;
      height: auto;
      display: inline;
      white-space: normal;
    }
}

.profile-search {
  .select select {
    border: 2px solid $primary;
    border-radius: 0;
    &:hover {
      border-color: $primary;
    }
    &:active {
      border-color: $primary;
    }
  }

  .button {
    border-radius: 0;
  }
}

.search-headline {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  border: 2px solid $primary;
  padding: 1rem;
}

.filter-multiple {
  margin-top: 0.5rem;

  .choices {  

    .choices__list--dropdown {
      z-index: 1000;
    }

    .choices__input {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }

    .choices__inner {
      background-color: #fff;
      border: 2px solid $primary;
      padding-bottom: calc(0.5em - 1px);
      padding-left: calc(0.75em - 1px);
      padding-right: calc(0.75em - 1px);
      padding-top: calc(0.5em - 1px);
      min-height: unset;
    }

    input::placeholder {
      color: black;
      opacity: 100;
    }

    input.placeholder--hidden::placeholder {
      opacity: 0;
    }
  }
}
