.has-danger-border {
    border: 8px solid $danger;
}

.has-primary-border {
    border: 8px solid $primary;
}

.home {
    .about-box {
        color: black;
        padding: 2.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        a {
            color: black;
        }

        h2 {
            text-align: center;
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5em;

            @include from($tablet) {
                font-size: 1.75rem;
            }
        }

        .tile.is-ancestor:not(:last-child) {
            margin-bottom: 0.75rem !important;
        }
    }


    .cta-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;

        p {
            font-size: 1.4rem;
            line-height: 1.75rem;
        }

        .button {
            @include until($tablet) {
                font-size: 1rem;
            }
        }
    }

    .is-danger,
    .is-primary {
        font-size: 1.25rem;
        font-weight: bold;
        border-radius: 1.25rem;
        align-self: flex-end;
        margin-top: 1rem;
        @include from($tablet) {
            font-size: 1.5rem;
        }
    }

    .link-box {
        color: white;
        background-color: $danger;
        padding: 1.5rem;
        padding-bottom: 4.5rem;
        text-align: center;

        h2 {
            font-size: 1rem;
            margin-bottom: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

.static {

    p {
        margin-top: 1rem;
    }

    h2 {
        font-weight: 600;
        margin-top: 1.5rem;

        @include until($tablet) {
            font-size: 1.2rem !important;
        }
    }

    a {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0)), color-stop(35%, #19E4E880), color-stop(75%, #19E4E880), color-stop(75%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E880 35%, #19E4E880 75%, rgba(255, 255, 255, 0) 75%);
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E880 35%, #19E4E880 75%, rgba(255, 255, 255, 0) 75%);
        background-image: linear-gradient(to bottom,
                rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E880 35%, #19E4E880 75%,
                rgba(255, 255, 255, 0) 75%);
        text-decoration: none !important;
        color: black;
    }

    h1 {
        font-size: 2rem;
    }
}
