[attributes]
---
label: FAQ
layout: standard-layout
target_page:
categories:
- about
is_published: false
position: 0

[wysiwyg content]
<h1>FAQ</h1><h2>1. Wer kann eine Empfehlung einreichen?</h2><p>Jede Person, die selbst eine positive Erfahrung mit einer gynäkologischen Behandlung gemacht hat, 
          kann eine Empfehlung bei uns einreichen, indem sie den Gynformation-Fragebogen hier ausfüllt. Es 
          sollten nur die Fragen beantwortet werden, auf die aufgrund der eigenen Behandlungserfahrungen 
          sicher eine zutreffende Antwort gegeben werden kann.
</p><p class="is-pulled-right m-md"><img src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBGdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--3f1813fd1426c4374a9a8e0d7d96d8c39c5f0176/uterus.png">
</p><h2>2. Was passiert mit dem Fragebogen, 
          nachdem ich ihn ausgefüllt habe?
</h2><p>Wir werten die Fragebögen einzeln und anonymisiert in unserem Kollektiv aus, bevor wir sie 
          in Form einer Empfehlung auf unserer kommentierten Adressliste zur Verfügung stellen. Jede 
          Empfehlung wird vor Veröffentlichung von zwei Mitgliedern des Kollektivs geprüft. Es dauert 
          einen Moment, bis wir die Fragebögen ausgewertet haben. Wir möchten diesen Prozess nicht 
          automatisieren, weil es um komplexe Situationen geht und wir einen Missbrauch der Liste vermeiden
          möchten.
</p><h2>3. Wer liest und wertet meinen Fragebogen aus?</h2><p>Gynformation ist ein Kollektiv von Menschen, die eine trans-inklusive, queer-feministische, 
          antirassistische Haltung teilen und in unterschiedlichen Bereichen tätig sind. Wir arbeiten alle 
          ehrenamtlich an Gynformation und begreifen es als aktivistisches Projekt. Uns verbindet der Kampf 
          um selbstbestimmte gynäkologische Praxis sowie um Zugang zu sicheren Schwangerschaftsabbrüchen und
          Informationen darüber. Wir haben alle eigene Erfahrungen mit gynäkologischen Behandlungen aus 
          Patient*innen-Perspektive, in unserem Kollektiv gibt es keine gynäkologisch behandelnden Personen.
          Bei der Aufnahme neuer Menschen ins Kollektiv ist uns wichtig, dass 
	<a href="https://www.gynformation.de/posts/1">unsere grundlegenden Haltungen</a> von allen Aktiven geteilt werden.
</p>

