<section role='search'>
  <fieldset>
    <%= form_with url: admin_questionnaires_path, method: 'get', id: 'js-turbolinks-get-form' do |form| %>
      <div class="field is-grouped is-horizontal m-b-md">
        <div class="control">
          <div class='select'>
            <%= form.select(:status, options_for_status, selected: params[:status]) %>
          </div>
        </div>
        <div class="control">
          <%= form.text_field :last_name, class: 'input', placeholder: t('.placeholder_last_name'), value: params[:last_name]  %>
        </div>
        <div class="control">
          <%= form.submit t('.filter'), class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </fieldset>
</section>
