<% if @profiles.empty? %>
  No results
<% else %>
  <ul>
    <% @profiles.each do |profile| %>
      <li>
        <%= profile.first_name %> <%= profile.last_name %>, <%= profile.city %>
        <%= link_to admin_questionnaire_path(params[:questionnaire_id], questionnaire: { profile_id: profile.id }), remote: true, id: 'link_profile_link', method: 'patch' do %>
          <span class="icon">
            <i class="fa fa-plus" aria-hidden="true" title='Link Profile'></i>
          </span>
        <% end %>
        <%= link_to admin_profile_path(profile.id), data: { test: "show-profile-link" } do %>
          <span class="icon">
            <i class="fa fa-eye" title=<%= t('profile.show') %>></i>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
