<section class="section questionnaire">
  <div class="container content">
    <div class="columns">
      <div class="is-offset-1 column is-5 box">
        <%= form_for @questionnaire, url: admin_questionnaire_path, class: 'box' do |form| %>
          <div class="field">
            <label class="label">Status</label>
            <div class="select">
              <%= form.select(:status, options_for_status) %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.label :comment %>
              <%= form.text_area :comment, class: 'textarea' %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.submit t('.save'), class: 'button is-primary' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column is-5 box">
        <label class="label"><%= t('.search_profiles') %></label>
        <%= form_with url: admin_profiles_search_path, method: 'get' do |form| %>
          <%= form.hidden_field :questionnaire_id,  value: @questionnaire.id %>
          <div class="field is-grouped is-horizontal">
            <div class="control">
              <%= form.text_field :last_name, class: 'input', placeholder: t('.search_profiles_by_lastname'), value: params[:last_name]  %>
            </div>
            <div class="control">
              <%= form.submit I18n.t('profile.filter'), class: 'button is-primary' %>
            </div>
          </div>
        <% end %>
        <div class="profile-search-result" id="search-result">
        </div>
        <div class="linked-profile m-t-lg">
          <label class="label"><%= t('.linked_profile') %></label>
          <% if @questionnaire.profile_id %>
            <%= link_to profile_display_name(@questionnaire.profile_id), admin_profile_path(@questionnaire.profile_id), id: "linked_profile" %>
          <% else %>
            - 
          <% end %>
        </div>
        <div class="new-profile m-t-lg">
          <%= link_to t('admin.new_profile'), new_admin_profile_path(:questionnaire_id => @questionnaire.id), class: 'button is-primary' %>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-1 is-10 box">
        <h2><%= t('.about_treating_person') %></h2>
        <p><%= @questionnaire.answer("first_name") %> <%= @questionnaire.answer("last_name")%></p>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_address %> <%= state_name(@questionnaire.answer('state')) %></p>
        <h3 class="is-size-6"><%= t('.website') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('website_with_protocol') %></p>
        <h3 class="is-size-6"><%= t('.phone_number') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('phone_number') %></p>
        <h3 class="is-size-6"><%= t('.category') %></h3>
        <p data-test="display-selected-category"><%= @questionnaire.answer("category").present? ? t("profile.categories.#{@questionnaire.answer("category")}") : "-" %></p>
        <h3 class="is-size-6"><%= t('.health_insurance') %></h3>
        <p><%= raw format_health_insurance(@questionnaire.answer("health_insurance")) %></p>
        <h3 class="is-size-6"><%= t('.financing_of_treatments') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('financing_of_treatments')) %></ul>
        <h3 class="is-size-6"><%= t('.payments_required_for_specific_treatments') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('payments_required_for_specific_treatments') %></p>
        <h3 class="is-size-6"><%= t('.languages') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('languages') %></p>
        <h3 class="is-size-6"><%= t('.practice_staff') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('practice_staff') %></p>
        <h3 class="is-size-6"><%= t('.barrier_free_access_options') %> </h3>
        <p><%= raw formatted_tags(@questionnaire.answer('barrier_free_access_options'), 'barrier_free_access_options') %></p>
        <h3 class="is-size-6"><%= t('.barrier_free_access') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('barrier_free_access') %></p>
        <h3 class="is-size-6"><%= t('.amount_of_visits') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('amount_of_visits') %></p>
        <h2><%= t('.submitting_person') %></h2>
        <h3 class="is-size-6"><%= t('.tags') %></h3>
        <div class="tags">
          <%= raw @questionnaire.tags.map(&:name).map { |tag_name| content_tag(:span, tag_name[I18n.locale.to_s], class: 'tag is-medium')}.join() %>
        </div>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('additional_self_describing_tags') %></p>
        <h3 class="is-size-6"><%= t('.limit_recommendation') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('limit_recommendation') %></p>
        <h2><%= t('.treatment_methods') %></h2>
        <h3 class="is-size-6"><%= t('.recommended_treatments') %> </h3>
        <div class="tags">
          <%= raw @questionnaire.treatment_methods.map(&:name).map { |treatment_method_name| content_tag(:span, treatment_method_name[I18n.locale.to_s], class: 'tag is-medium')}.join() %>
        </div>
        <h3 class="is-size-6"><%= t('.additional_recommended_treatments') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('additional_recommended_treatments') %></p>
        <h3 class="is-size-6"><%= t('.treatment_rejected') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('treatment_rejected') %></p>
        <h2><%= t('.respectful_treatment') %></h2>
        <h3 class="is-size-6"><%= t('.listening') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('listening')) %></ul>
        <h3 class="is-size-6"><%= t('.consent') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('consent')) %></ul>
        <h3 class="is-size-6"><%= t('.explanation_of_treatment') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('explanation_of_treatment')) %></ul>
        <h3 class="is-size-6"><%= t('.examination_execution') %></h3>
        <ul><%= raw format_examination_execution(@questionnaire.answer('examination_execution')) %></ul>
        <h3 class="is-size-6"><%= t('.treated_with_respect') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('treated_with_respect')) %></ul>
        <h3 class="is-size-6"><%= t('.discriminatory_remarks') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('discriminatory_remarks')) %></ul>
        <h3 class="is-size-6"><%= t('.respect_anything_else') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('respect_anything_else') %></p>
        <h2><%= t('.feedback') %></h2>
        <h3 class="is-size-6"><%= t('.feedback') %></h3>
        <p><%= QuestionnaireDecorator.new(@questionnaire).display_answer('feedback') %></p>
      </div>
    </div>
  </div>
</div>
</section>
