<div class='section'>
  <div class='container'>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <%= link_to t('admin.new_post_tag'), new_admin_post_tag_path, class: 'button is-primary' %>
        <table class='table is-fullwidth'>
          <thead>
            <tr>
              <th><%=t('admin.post_tags.name')%></th>
              <th><%=t('admin.post_tags.edit.headline')%></th>
            </tr>
          </thead>
          <tbody>
            <% @post_tags.each do |tag| %>
              <tr>
                <td><%= tag.name[I18n.locale.to_s] %></td>
                <td><%= link_to t('profile.edit'), edit_admin_post_tag_path(tag.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
