[attributes]
---
label: Über uns
layout: standard-layout
target_page:
categories:
- about
is_published: true
position: 1

[wysiwyg content]
<section>
<h1>
Über uns
</h1>
<p>Wir sind eine Gruppe queer-feministischer 
Aktivist*innen, die aus Patient*innen-Perspektive für Selbstbestimmung 
im Kontext gynäkologischer Behandlungen eintreten.
</p>
<img class="is-pulled-right m-md" src="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBHQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c0d16318b81033f29413fc995377fbfdcee68d68/support-your-sisters.png" alt="Support your Sisters Illustration, Fiona Tretaut" "="">
<p>Wir kämpfen einerseits um das Informationsrecht zum Thema 
Schwangerschaftsabbruch – dies ist ein wesentlicher Grund für unsere 
Initiative. Denn wir brauchen nicht nur einfach zugängliche und 
übersichtliche Informationen darüber, wer Abbrüche anbietet, sondern 
auch darüber, mit welcher Methode und zu welchem Preis die Behandlung 
durchgeführt wird und ob ein respektvoller und umsichtiger Umgang zu 
erwarten ist. Das gleiche gilt aber auch für andere gynäkologische 
Behandlungen, die teilweise zu unterschiedlichen Preisen angeboten 
werden, die bestimmten Personengruppen schwer zugänglich sind oder 
manchmal sogar verweigert werden, oder über die nicht vorurteilsfrei 
beraten wird.
</p>
<p>Egal ob für Schwangerschaftsabbrüche oder andere 
Behandlungen, wollen wir mit Gynformation eine bundesweites Verzeichnis 
von Gynäkolog*innen, Hebammen und gynäkologisch behandelnden 
Allgemeinärzt*innen zusammenstellen, die einen vertraulichen, 
unvoreingenommenen und professionellen Umgang pflegen und transparent 
über medizinische Behandlungsformen informieren. Unabhängig davon, ob du
 sexuell aktiv bist, mit wem und wie vielen Partner*innen du Sex hast, 
ob du Kinder haben möchtest oder nicht, ob du wenig Geld hast, mit 
bestimmten Pronomen angesprochen werden möchtest, ein Kopftuch trägst, 
wie du aussiehst, ob du HIV-positiv bist, Erfahrungen mit 
(sexualisierter) Gewalt gemacht hast, egal, welches Geschlecht dir bei 
der Geburt zugewiesen wurde, ob du beschnitten bist, du Deutsch sprichst
 oder nicht, welchen Aufenthaltsstatus du hast, ob du Drogen nimmst, 
einen Rollstuhl benutzt, Sexarbeiter*in bist, oder oder oder – du 
solltest immer professionelle Unterstützung bei deiner 
Entscheidungsfindung erhalten.
</p>
<h2>Teile deine positiven Erfahrungen, empowere dich und andere</h2>
<p>Die Gynäkologie ist ein medizinischer Fachbereich, in dem ein
 einfühlsamer Umgang besonders wichtig ist – denn oft geht es um Fragen 
der eigenen Identität, Sexualität und Lebensplanung und die 
Untersuchungen sind häufig körperlich sensibel und intim. Übergriffiges,
 diskriminierendes oder unachtsames Verhalten innerhalb der Gynäkologie 
können als besonders grenzüberschreitend erlebt werden. Deshalb haben 
wir entschieden – inspiriert von dem französischen Kollektiv 
	<a target="_blank" href="https://gynandco.wordpress.com/">Gyn&Co</a>
	– eine Liste von behandelnden Personen in Deutschland aufzubauen, die 
diskriminierungsfrei arbeiten, ein Bewusstsein für Konsens bei der 
Behandlung haben und Informationen und Raum für selbstbestimmte 
Entscheidungen geben.
</p>
<p>Dieses Verzeichnis wird ausschließlich auf der Grundlage von 
individuellen Empfehlungen nach und nach aufgebaut und erweitert. Es 
soll jeder Person dabei helfen, möglichst schnell die individuell 
richtige Adresse zu finden. Darum sammelt Gynformation positive 
Empfehlungen und ist keine Seite zur generellen/negativen Bewertung von 
gynäkologisch behandelnden Personen. Wenn du selbst gute Erfahrungen 
gemacht hast, teile sie bitte mit uns, indem du  
	<a href="https://www.gynformation.de/questionnaire/new">diesen Fragebogen</a> ausfüllst.
</p>
<h2>Arbeit als Kollektiv</h2>
<p>Wir werten jeden Fragebogen einzeln und anonymisiert aus, bevor wir die Informationen zur empfohlenen Person auf unserer <a href="https://www.gynformation.de/profiles">kommentierten Adressliste</a>
	zur Verfügung stellen. Wir arbeiten bewusst als Kollektiv, d.h. wir 
besprechen uns über inhaltliche und strukturelle Fragen in der Gruppe 
und versuchen dabei möglichst viele Erfahrungen und Stimmen 
einzubeziehen. In unserem Auswertungs-Team sind ausschließlich Menschen,
 die selbst Erfahrungen mit gynäkologischer Behandlung als Patient*innen
 gemacht haben/machen, mit unterschiedlichen Hintergründen und 
Expertisen. Wenn du mehr zu dem Auswertungsprozess der eingehenden 
Fragebögen oder unseren Kriterien wissen möchtest, findest du in unseren
	<a href="https://www.gynformation.de/faq">FAQs</a> einige Antworten. Ein Manifest zu unserer Grundhaltung und den Prinzipien, auf denen dieses Projekt aufbaut, haben wir <a href="https://www.gynformation.de/posts/1">hier</a> veröffentlicht.
</p>
<p>Die Selbstbestimmung über unseren Körper und unsere 
Sexualität hat außerdem ein großes Potenzial zum kollektiven Empowerment
 beizutragen: darum wollen wir mit der Rubrik 
	<a href="https://www.gynformation.de/glossary">Glossar</a> und unserem <a href="https://www.gynformation.de/posts">Expert*innen-Blog</a> Anstöße geben, sich Wissen über Gynäkologie und den eigenen Körper anzueignen.
</p>
<p>Diese Seite befindet sich gerade noch im Aufbau und ist nicht perfekt. Wir freuen uns deshalb über konstruktives Feedback an <a href="mailto:kontakt@gynformation.de">kontakt@gynformation.de</a>.
 So arbeiten wir zum Beispiel aktuell noch an Übersetzungen in Leichte 
Sprache, ins Englische und andere Sprachen, an der Barrierefreiheit der 
Seite und einigen Funktionen. Wenn du uns dabei unterstützen kannst, 
weil du z.B. übersetzen oder programmieren kannst, dann freuen wir uns 
über motivierte 
	<a href="https://www.gynformation.de/faq#faq-contact-participate">Neuzugänge</a>.
</p>
</section>
