<li id="post-<%=post.id%>" %>
  <div class='post-teaser'>
    <div class="content">
      <div class="tags">
        <%= raw post.post_tags.map { |post_tag| raw(link_to(post_tag.name[I18n.locale.to_s], posts_path(post_tag: post_tag.key), class: 'tag'))}.join() %>
      </div>
      <%= link_to post_path(post.id) do %>
        <div class="columns">
          <% if post.main_image.attached? %>
            <div class="column is-4 post-image-container">
              <image src="<%=(url_for(post.main_image))%>" class="post-image">
              </div>
            <% end %>
            <div class="column is-8 post-teaser">
              <p class="publish-date"><%= I18n.localize(post.publish_date, format: :long) %></p>
              <h2 class="title"><%= post.title %></h2>
              <p class="teaser"><%= post.teaser %></p>
              <p class="author"><%= t('.from') %> <%= post.author %></p>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</li>
