<section class="section posts">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class='m-b-xl'>Blog</h1>
        <% if I18n.locale != :de %>
          <div class="info-box m-b-lg"><%= t('posts.only_german') %></div>
        <% end %>
        <ul class="post-list">
          <% if @posts.length > 0 %>
            <% @posts.each do |post| %>
              <%= render post %>
            <% end %>
          <% else %>
            <p><%= t('posts.no_posts') %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
