[attributes]
---
label: Datenschutz
layout: standard-layout
target_page:
categories:
- footer
is_published: true
position: 6

[wysiwyg content]
<section>
  
    
      
        <h1>
          Informationen zur Datenverarbeitung
        </h1>
        <p>im Hinblick auf die Nutzung der Webseite <a href="https://www.gynformation.de/">https://www.gynformation.de/</a> einschließlich des Umgangs mit Interessentendaten. </p>
        <p>Stand: März 2020</p>
        <h2>1. Verantwortliche</h2>
        <p>Für die Datenverarbeitungen auf dieser Webseite verantwortlich im Sinne des Art. 4 Nr. 7 DSGVO ist:<br>
          Gynformation c/o<br>
          femrep e.V.<br>
          Schäferstraße 26<br>
          20355 Hamburg</p>
        <p><a href="mailto:kontakt@gynformation.de">kontakt@gynformation.de</a></p>
        <p>– im Folgenden Gynformation –</p>
        <h2>2. Gegenstand des Datenschutzes</h2>
        <p>Gegenstand des Datenschutzes sind personenbezogene Daten. 
Diese sind nach Art. 4 Nr. 1 DSGVO alle Informationen, die sich auf eine
 identifizierte oder identifizierbare Person beziehen. Hierunter fallen 
z.B. Angaben wie Namen, Postanschrift, E-Mail-Adresse oder 
Telefonnummer, ggf. aber auch Nutzungsdaten wie beispielsweise die 
IP-Adresse oder Inhaltsdaten wie übersendete Interessentenanfragen.</p>
        <h2>3. Umfang und Zweck der Datenerhebung und -speicherung</h2>
        <p>Im Folgenden klären wir über den Umfang der Datenerhebung und
 -speicherung sowie -nutzung (im Folgenden „Datenverarbeitung“, 
verwendet im Sinne von Art. 4 Nr. 2 DSGVO) und über den Zweck der 
jeweiligen Datenverarbeitung im Rahmen der Webseite auf.</p>
        <h2>4. Verarbeitung von personenbezogenen Daten im Rahmen der Webseitennutzung</h2>
        <p>Die Nutzung dieser Webseite ist im Grundsatz ohne Angaben von
 personenbezogenen Daten möglich. Eine Ausnahme stellt die IP-Adresse 
dar. Diese benötigen wir zwingend kurzfristig (bitte lies dazu Ziffer 
4.1).</p>
        <h3>4.1. Zu IP-Adressen</h3>
        <p>Eine IP-Adresse stellt in Computernetzen eine Adresse dar, 
über die Webserver und/oder einzelne Endgeräte angesprochen und erreicht
 werden können. Ohne IP-Adresse können der Webserver und die Endgeräte 
nicht kommunizieren – und somit nichts anzeigen. Der Webserver, auf dem 
die Webseite gehostet wird, wird also mit einer Datenanfrage – von Dir, 
Du willst die Webseite schließlich nutzen – angesprochen. Um die Daten 
zu liefern, muss der Webserver die IP-Adresse kennen. Deswegen muss der 
Webserver in diesem Moment der Datenabfrage Deine IP-Adresse 
verarbeiten. Dazu erhält der Webserver die Information, welche Webseite 
bzw. Datei abgerufen, welcher Browser und welches Betriebssystem dazu 
genutzt wurde. Normalerweise werden diese Daten vollständig in den 
sogenannten Webserver-Logfiles langfristig gespeichert. Gynformation 
speichert die Logfiles mit IP-Adressen der Nutzer für eine Dauer von 7 
Tagen. Diese Speicherdauer ist für die generelle Sicherheitsanalyse der 
Systeme erforderlich. Eine weitere Auswertung dieser Daten erfolgt 
nicht.
          Rechtsgrundlage für diese Datenverarbeitung ist regelmäßig 
Art. 6 Abs. 1 b) DSGVO, da wir Deine IP-Adresse benötigen, um Dir 
überhaupt die Webseite und die darin enthaltenen Informationen 
übermitteln zu können.
        </p>
        <h3>4.2. Cookies</h3>
        <p>Auf unserer Webseite verwenden wir Cookies. Cookies sind 
kleine Textdateien, die von Webseiten auf dem Computer gespeichert 
werden. Gynformation verwendet ausschließlich solche Cookies, die zur 
technischen Darstellung unserer Webseite zwingend erforderlich sind. Wir
 setzen nur Session-Cookies zur korrekten Weiterleitung einer 
Serveranfrage und zur Identifizierung mehrfacher Anfragen mittels einer 
Session ID ein. Diese Cookies erheben keine personenbezogenen Daten.
          Du kannst die Installation von Cookies verhindern, indem Du 
sie durch eine entsprechende Einstellung in der Browser-Software 
unterbindest (unter „Einstellungen“ bei den meisten Browsern zu finden);
 es ist allerdings darauf hinzuweisen, dass Du in diesem Fall 
gegebenenfalls nicht sämtliche Funktionen unserer Webseite 
vollumfänglich nutzen kannst.
          Außerdem kannst Du bereits gesetzte Cookies löschen (ebenfalls
 unter „Einstellungen“ im Browser zu finden).</p>
        <h2>5. Datenverarbeitung bei Kontaktaufnahme</h2>
        <p>Wenn Du mit uns Kontakt per E-Mail, Telefon oder per Post 
aufnimmst, verarbeiten wir Deine Daten. Rechtsgrundlage für diese 
Datenverarbeitung ist regelmäßig Art. 6 Abs. 1 lit. b) DSGVO, da wir 
schließlich nicht auf Dich und Dein geschildertes Anliegen zurückkommen 
könnten, wenn wir von Dir keine personenbezogenen Kontaktdaten 
erhielten.</p>
        <p>Wenn Du mit uns Kontakt aufnehmen möchtest, dann musst Du 
mindestens die folgenden personenbezogenen Daten hinterlassen bzw. an 
uns übermitteln:</p>
        <ul><li>Ansprechname</li><li>Dein Anliegen</li><li>Je nach Kommunikationskanal:
            <ul><li>Deine E-Mail-Adresse</li><li>Deine Telefonnummer</li><li>Deine Postanschrift</li></ul>
          </li></ul>
        <p>Wir nutzen diese Daten ausschließlich, um Dein Anliegen zu 
bearbeiten und um anschließend wegen dieses Anliegens auf Dich 
zurückkommen zu können.</p>
        <h2>6. Datenverarbeitung von Interessentendaten</h2>
        <p>Schilderst Du mit Deiner Nachricht oder sonstigen 
Kontaktaufnahme Interesse an unseren Leistungen, so verarbeiten wir 
Deine Daten als Interessentendaten. Das bedeutet, dass wir die 
Kontaktdaten und den Grund Deiner Anfrage bei uns über den unmittelbaren
 Kontakt hinaus verarbeiten. Diese Verarbeitung erfolgt auf Basis von 
Art. 6 I f) DSGVO. Wir haben ein berechtigtes Interesse daran, Kontakt 
zu Interessenten zu halten und zu intensivieren. Das ist nur möglich, 
wenn wir die Daten nicht löschen. Ein entgegenstehendes Interesse von 
Deiner Seite ist in diesem Fall nicht ersichtlich, da Du uns die Daten 
selbst im Rahmen einer Interessensbekundung übergeben hast.</p>
        <h2>7. Zweckgebundene Datenverwendung, Empfänger von Daten, Weitergabe der Daten</h2>
        <p>Wir beachten den Grundsatz der zweckgebundenen 
Datenverwendung. Sämtliche vorgenannten Daten erheben, speichern und 
verwenden wir nur zu den bereits genannten Zwecken</p>
        <p>Die IT-Systeme von Gynformation werden teilweise durch 
externe IT-Dienstleister betreut. In dem Zusammenhang werden diese 
IT-Dienstleister im, zur Betreuung erforderlichen Umfang, Empfänger von 
Daten.</p>
        <p>Soweit notwendig, sind uns die Empfänger über 
Auftragsverarbeitungsverträge verpflichtet.
          Du kannst auf Nachfrage jederzeit eine Liste der konkreten 
Empfänger erhalten. Aus Gründen unserer eigenen IT- und Datensicherheit 
möchten wir jedoch die Empfänger von Daten an dieser Stelle öffentlich 
namentlich benennen.</p>
        <p>Eine Weitergabe der persönlichen Daten an Dritte außerhalb 
des hier geschilderten Rahmens erfolgt ohne eine ausdrückliche 
Einwilligung nicht.  Auch die Übermittlung an auskunftsberechtigte 
staatliche Institutionen und Behörden erfolgt nur im Rahmen der 
gesetzlichen Auskunftspflichten oder, wenn wir durch eine gerichtliche 
Entscheidung zur Auskunft verpflichtet werden.</p>
        <h2>8. Dauer der Verarbeitung</h2>
        <br>
        <h3>8.1. Löschfristen im Rahmen der Webseitennutzung</h3>
        <p>Deine IP-Adresse wird in den Webserver-Logfiles lediglich ab 
Verbindungsaufbau für die Dauer von 7 Tagen gespeichert.  Das 
Ablaufdatum der Cookies ist auf die Zeit des Webseitenbesuchs 
beschränkt, sodass die Daten nie länger gespeichert werden. Im Übrigen 
kannst Du die Cookies jederzeit löschen (unter „Einstellungen“ im 
Browser).</p>
        <br>
        <h3>8.2. Löschfristen im Rahmen von Kontaktanfragen via E-Mail, Telefon oder Post</h3>
        <p>Die Daten, die Du uns im Rahmen einer Kontaktanfrage 
übermittelst, werden von uns unmittelbar nach Erledigung Deines 
Anliegens gelöscht.  Das gilt nicht, wenn Deine Anfrage und die damit 
verbundenen Daten als Interessentendaten einzuordnen sind.</p>
        <br>
        <h3>8.3. Löschfristen bei Interessentendaten</h3>
        <p>Interessentendaten werden zwei Jahren nach einem letzten Kontaktpunkt gelöscht.</p>
        <p>Ein Kontaktpunkt meint etwa die Interaktion mit einem 
Mitglied des Kollektivs via soziale Medien, per E-Mail oder telefonisch 
oder die Teilnahme an einer Veranstaltung. Sind Aufbewahrungsfristen 
nach § 257 HGB zu erfüllen, werden die Daten bis zu 6 Jahre aufbewahrt 
und anschließend gelöscht. In dem Fall werden die Daten in der 
Verwendung nach Ablauf der zwei Jahre gemäß Art. 18 DSGVO auf die 
Erfüllung der Aufbewahrungspflicht beschränkt und nach Ablauf der o.g. 
Fristen gelöscht.</p>
        <p>Ist eine Löschung einzelner Daten und Datensätze nur mit 
einem unverhältnismäßigen Aufwand, bezogen auf die Extraktion und 
Separierung im Hinblick auf unterschiedlichen Löschfristen, möglich, so 
werden diese Daten einheitlich nach Erledigung des Anliegens beschränkt 
und mit Ablauf von 6 Jahren nach dem letzten Kontaktpunkt gelöscht.</p>
        <p>Die Frist beginnt mit dem Schluss des Kalenderjahres, in dem das jeweilige Datum erhoben wurde.</p>
        <h2>9. Betroffenenrechte (u.a. Auskunfts-, Widerrufs-, Widerspruchs und Löschungsrechte)</h2>
        <p>Du hast das Recht, Auskunft bezüglich der von Dir bei uns verarbeiteten Daten zu verlangen.</p>
        <p>Du kannst jederzeit der Verarbeitung Deiner Daten 
widersprechen, soweit die Voraussetzungen des Art. 21 DSGVO vorliegen, 
und eine etwaige daneben erteilte Einwilligung zur Verarbeitung der 
Daten jederzeit widerrufen. Wenn die Einwilligung zur Datenverarbeitung 
widerrufen bzw. der Verwendung der Daten widersprochen wird, berührt 
dies die Rechtmäßigkeit der Datenverarbeitung bis zum Zeitpunkt des 
Widerrufs bzw. des Widerspruchs nicht. Außerdem kannst Du jederzeit die 
von uns verarbeiteten Daten berichtigen, beschränken oder löschen 
lassen. Wir weisen ausdrücklich darauf hin, dass es gesetzliche 
Verpflichtungen – wie Aufbewahrungspflichten – geben kann, Daten weiter 
zu speichern. In diesem Fall können die Daten nur beschränkt werden. 
Dies meint, dass die Daten ausschließlich zu dem Zweck des Nachkommens 
der gesetzlichen Pflichten verarbeitet und sonst nicht genutzt 
werden. Darüber hinaus steht Dir daneben auch das Recht auf 
Datenübertragbarkeit nach Art. 20 DSGVO sowie das Recht zur Beschwerde 
bei einer Aufsichtsbehörde im Sinne von Art. 77 DSGVO zu.</p>
        <p>Bei Fragen hierzu wende Dich gerne jederzeit unter kontakt[at]gynformation.de an uns.</p>
        <h2>10. Datenschutzerklärung für unsere Social Media-Seiten</h2>
        <p>Nachfolgend möchten wir Dich über den Umgang mit Deinen Daten gem. Art. 13 Datenschutzgrundverordnung (DSGVO) informieren.</p>
        <br>
        <h3>10.1 Verantwortlicher</h3>
        <p>Wir, das Kollektiv für gynäkologische Selbstbestimmung, betreiben folgende Social Media Seiten:</p>
        <a target="_blank" href="https://www.facebook.com/gynformation/">https://www.facebook.com/gynformation/</a>
        <br>
        <a target="_blank" href="https://www.instagram.com/gynformation/">https://www.instagram.com/gynformation/</a>
        <p>Unsere Kontaktdaten findest Du in unserem <a href="https://www.gynformation.de/imprint">Impressum</a>.</p>
        <p>Neben uns gibt es noch den Betreiber der Social 
Media-Plattform an sich. Auch dieser ist insofern ein weiterer 
Verantwortlicher, der eine Datenverarbeitung durchführt, auf die wir 
jedoch nur begrenzten Einfluss haben. An den Stellen, an denen wir 
Einfluss nehmen und die Datenverarbeitung parametrisieren können, wirken
 wir im Rahmen der uns zur Verfügung stehenden Möglichkeiten auf den 
datenschutzgerechten Umgang durch den Betreiber der Social 
Media-Plattform hin. An vielen Stellen können wir die Datenverarbeitung 
durch den Betreiber der Social Media-Plattform aber nicht beeinflussen 
und wissen auch nicht genau, welche Daten dieser verarbeitet. </p>
        <h3>10.2 Datenverarbeitung durch uns</h3>
        <p>Die von Dir auf unseren Social Media Seiten eingegebenen 
Daten wie z. B. Kommentare, Videos, Bilder, Likes, öffentliche 
Nachrichten etc. werden durch die Social Media-Plattform veröffentlicht 
und von uns zu keiner Zeit für andere Zwecke verwendet oder verarbeitet.
 Wir behalten uns lediglich vor, Inhalte zu löschen, sofern wir es als 
erforderlich erachten. Ggf. teilen wir Deine Inhalte auf unserer Seite, 
wenn dies eine Funktion der Social Media Plattform ist und kommunizieren
 über die Social Media Plattform mit Dir. Rechtsgrundlage ist Art. 6 
Abs. 1 S. 1 lit. f DSGVO. Die Datenverarbeitung erfolgt im Interesse 
unserer Öffentlichkeitsarbeit und Kommunikation.</p>
        <p><u><strong>Wenn Du einer bestimmten Datenverarbeitung, auf die wir
 einen Einfluss haben, widersprechen möchtest, wende Dich bitte an uns. 
Sofern Du Dein Widerspruchsrecht gegenüber der Plattform wahrnehmen 
möchtest, ist diese direkt zu kontaktieren.</strong></u></p>
        <p>Sofern Du uns eine Anfrage auf der Social Media-Plattform 
stellst, verweisen wir je nach der erforderlichen Antwort ggf. auch auf 
andere, sichere Kommunikationswege, die Vertraulichkeit garantieren. Du 
hast immer die Möglichkeit, uns vertrauliche Anfragen an unsere 
Kontaktadresse zu schicken.</p>
        <p>Wie bereits ausgeführt, achten wir an den Stellen, an denen 
uns der Anbieter der Social Media-Plattform die Möglichkeit gibt, 
darauf, unsere Social Media-Seiten möglichst datenschutzkonform zu 
gestalten. Im Hinblick auf Statistiken, die uns der Anbieter der Social 
Media Plattform zur Verfügung stellt, haben wir nur bedingt Einfluss und
 können diese auch nicht abschalten. Wir achten aber darauf, dass uns 
keine zusätzlichen optionalen Statistiken zur Verfügung gestellt werden.</p>
        <h3>10.3 Datenverarbeitung durch den Betreiber der Social Media-Plattform</h3>
        <p>Der Betreiber der Social Media Plattform setzt 
Webtrackingmethoden ein. Das Webtracking kann dabei auch unabhängig 
davon erfolgen, ob Du bei der Social Media-Plattform angemeldet oder 
registriert bist. Wie bereits dargestellt können wir auf die 
Webtrackingmethoden der Social Media-Plattform leider kaum Einfluss 
nehmen. Wir können dieses z.B. nicht abschalten</p>
        <p>Bitte sei dir darüber bewusst: Wir können nicht ausschließen,
 dass der Anbieter der Social Media-Plattform Deine Profil- und 
Verhaltensdatendaten nutzt, z.B. um Deine Gewohnheiten, persönlichen 
Beziehungen, Vorlieben usw. auszuwerten. Wir haben insofern keinen 
Einfluss auf die Verarbeitung Deiner Daten durch den Anbieter der Social
 Media-Plattform.</p>
        <p><u><strong>Nähere Informationen zur Datenverarbeitung durch den 
Anbieter der Social Media-Plattform, weitere Widerspruchsmöglichkeiten 
findest Du in der Datenschutzerklärung des Anbieters:</strong></u></p>
        <ul><li>
            <a target="_blank" href="https://www.facebook.com/about/basics">Facebook</a>
          </li><li>
            <a target="_blank" href="https://help.instagram.com/519522125107875">Instagram</a>
          </li></ul>
      
    
  </section>
