.is-multi-search-choice {
    width: 100%;

    .choices {
        .choices__input {
            background-color: #fff;
        }
        
        .choices__inner {
            background-color: #fff;
            border: 1px solid black;
        }
    
        &.is-focused {
            .choices__inner {
                border: 1px solid $primary; 
            }
        }
    
        .choices__list {

            .choices__item {
                margin-bottom: 0;
            }

            .choices__item:not(.choices__item--choice) {
                padding: 0.15rem;
                background-color: $primary;
                border: 1px solid $primary
            }
    
            .choices__item--choice {
                &.is-highlighted {
                    background-color:  $primary-light;
                }
            }
        }
    }
}

.remove_fields {
  color: black;
}
