<div class="step-items-container section is-fullwidth is-flex">
  <div class="step-item">
    <div class="step-marker"><span>1</span></div>
    <div class="step-details is-size-6 is-hidden-mobile">
      <p><%= t('questionnaire_form.steps.items.disclaimer') %></p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker"><span>2</span></div>
    <div class="step-details is-size-6 is-hidden-mobile">
      <p><%= t('questionnaire_form.steps.items.about_treating_person') %></p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker"><span>3</span></div>
    <div class="step-details is-size-6 is-hidden-mobile">
      <p><%= t('questionnaire_form.steps.items.treatments') %></p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker"><span>4</span></div>
    <div class="step-details is-size-6 is-hidden-mobile">
      <p><%= t('questionnaire_form.steps.items.respectful_treatment') %></p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker"><span>5</span></div>
    <div class="step-details is-size-6 is-hidden-mobile">
      <p><%= t('questionnaire_form.steps.items.submit_recommendation') %></p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker"><span>6</span></div>
    <div class="step-details is-size-6 is-hidden-mobile">
      <p><%= t('questionnaire_form.steps.items.feedback') %></p>
    </div>
  </div>
</div>
