<div class="step-content column is-8 is-offset-2">
  <h3><%= I18n.t('questionnaire_form.steps.items.respectful_treatment') %></h3>
  <div class="field">
    <div class="control">
      <%= form.label :listening, class: "label" %>
      <%= form.fields_for :listening do |fields| %>
        <%= fields.radio_button :boolean, "yes", class: "is-checkradio" %>
        <%= fields.label :boolean_yes, t('questionnaire_form.answer_yes') %>
        <%= fields.radio_button :boolean, "no", class: "is-checkradio" %>
        <%= fields.label :boolean_no, t('questionnaire_form.answer_no') %>
        <div class="field">
          <div class="control additional-comment">
            <%= fields.label t('questionnaire_form.comment') %>
            <%= fields.text_field :comment, class: 'input'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :consent, class: "label" %>
      <%= form.fields_for :consent do |fields| %>
        <%= fields.radio_button :boolean, "yes", class: "is-checkradio" %>
        <%= fields.label :boolean_yes, t('questionnaire_form.answer_yes') %>
        <%= fields.radio_button :boolean, "no", class: "is-checkradio" %>
        <%= fields.label :boolean_no, t('questionnaire_form.answer_no') %>
        <div class="field">
          <div class="control additional-comment">
            <%= fields.label t('questionnaire_form.comment') %>
            <%= fields.text_field :comment, class: 'input'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :explanation_of_treatment, class: "label" %>
      <%= form.fields_for :explanation_of_treatment do |fields| %>
        <%= fields.radio_button :boolean, "yes", class: "is-checkradio" %>
        <%= fields.label :boolean_yes, t('questionnaire_form.answer_yes') %>
        <%= fields.radio_button :boolean, "no", class: "is-checkradio" %>
        <%= fields.label :boolean_no, t('questionnaire_form.answer_no') %>
        <div class="field">
          <div class="control additional-comment">
            <%= fields.label t('questionnaire_form.comment') %>
            <%= fields.text_field :comment, class: 'input'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :examination_execution, class: "label" %>
      <%= collection_check_boxes(:questionnaire_form, :examination_execution, examination_execution_options, :first, :last) do |box| %>
        <div class="check-box check-box-single-column">
          <%= box.check_box class: "is-checkradio" %>
          <%= box.label class: 'check-box-label'%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :treated_with_respect, class: "label" %>
      <%= form.fields_for :treated_with_respect do |fields| %>
        <%= fields.radio_button :boolean, "yes", class: "is-checkradio" %>
        <%= fields.label :boolean_yes, t('questionnaire_form.answer_yes') %>
        <%= fields.radio_button :boolean, "no", class: "is-checkradio" %>
        <%= fields.label :boolean_no, t('questionnaire_form.answer_no') %>
        <div class="field">
          <div class="control additional-comment">
            <%= fields.label t('questionnaire_form.comment') %>
            <%= fields.text_field :comment, class: 'input'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :discriminatory_remarks, class: "label" %>
      <%= form.fields_for :discriminatory_remarks do |fields| %>
        <%= fields.radio_button :boolean, "yes", class: "is-checkradio" %>
        <%= fields.label :boolean_yes, t('questionnaire_form.answer_yes') %>
        <%= fields.radio_button :boolean, "no", class: "is-checkradio" %>
        <%= fields.label :boolean_no, t('questionnaire_form.answer_no') %>
        <div class="field">
          <div class="control additional-comment">
            <%= fields.label t('questionnaire_form.comment') %>
            <%= fields.text_field :comment, class: 'input'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :respect_anything_else, class: "label" %>
      <%= form.text_area :respect_anything_else, class: 'textarea' %>
    </div>
  </div>
</div>
