<nav class="navbar is-danger admin-navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="admin-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="admin-navbar" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to t('navigation.home'), root_path, class: 'navbar-item'%>
        <%= link_to t('navigation.questionnaires'), admin_questionnaires_path, class: 'navbar-item'%>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to t('navigation.profiles'), admin_profiles_path, class: 'navbar-link'%>
          <div class="navbar-dropdown">
            <%= link_to t('navigation.tags'), admin_tags_path, class: 'navbar-item'%>
            <%= link_to t('navigation.treatment_methods'), admin_treatment_methods_path, class: 'navbar-item'%>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
        <%= link_to t('navigation.blog'), admin_posts_path, class: 'navbar-link'%>
          <div class="navbar-dropdown">
            <%= link_to t('navigation.tags'), admin_post_tags_path, class: 'navbar-item'%>
          </div>
        </div>
        <%= link_to t('navigation.cms'), comfy_admin_cms_path, class: 'navbar-item'%>
        <%= link_to t('navigation.statistics'), '/admin/statistics', class: 'navbar-item'%>
        <%= link_to t('navigation.translations'), '/admin/translations', class: 'navbar-item'%>
      </div>
      <% if signed_in? %>
        <div class="navbar-end">
          <div class="buttons">
            <%= link_to t('admin.dashboard.title'), admin_dashboard_index_path, class: 'button is-primary' %>
            <%= button_to 'Sign out', sign_out_path, method: :delete, id: 'sign-out', class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
