<footer class="footer m-t-xl">
  <div class="ribbon">
    <span>ektiv für gynäkologische Selbstbestimmung</span>
    <span>Kollektiv für gynäkologische Selbstbestimmung</span>
    <span> Kollektiv für gynäkologische Selbstbestimmung</span>
    <span> Kollektiv für gynäkologische Selbstbestimmung</span>
    <span> Kollektiv für gynäkologische Selbstbestimmung</span>
    <span> Kollektiv für gynäkologische Selbstbestimmung</span>
  </div>
  <div class="footer-content">
    <%= link_to t('.instagram'), 'https://www.instagram.com/gynformation/'%>
    <%= link_to t('.facebook'), 'https://www.facebook.com/gynformation/' %>
    <% Comfy::Cms::Site.first.pages.for_category('footer').each do |page| %>
      <%= link_to translated_cms_page_label(page), comfy_cms_render_page_path(page.slug) %>
    <% end %>
  </div>
  <div class="logo">Gynformation</div>
</footer>
