<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'Gynformation', root_path, class: 'navbar-item navbar-logo'%>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu-items">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="menu-items" class="navbar-menu">
      <div class="navbar-end">
        <%= link_to t('navigation.search'), profiles_path, class: 'navbar-item'%>
        <%= link_to t('navigation.submit'), new_questionnaire_path, class: 'navbar-item'%>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <%= t('navigation.resources') %>
          </a>
          <div class="navbar-dropdown">
            <% Comfy::Cms::Site.first.pages.for_category('resources').each do |page| %>
              <%= link_to translated_cms_page_label(page), comfy_cms_render_page_path(page.slug), class: 'navbar-item'%>
            <% end %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <%= t('navigation.about') %>
          </a>
          <div class="navbar-dropdown">
            <% Comfy::Cms::Site.first.pages.for_category('about').each do |page| %>
              <%= link_to translated_cms_page_label(page), comfy_cms_render_page_path(page.slug), class: 'navbar-item' %>
            <% end %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <i class="fa fa-globe is-hidden-touch" title='Language'></i>
            <span class="is-hidden-desktop"><%= t('navigation.language') %></span>
          </a>
          <div class="navbar-dropdown">
            <%= link_to 'Deutsch', root_path(locale: :de), class: 'navbar-item'%>
            <%= link_to 'English', root_path(locale: :en), class: 'navbar-item' %>
          </div>
          <% if signed_in? %>
            <div class="admin-navbar navbar-item has-dropdown is-hoverable">
              <%= link_to t('admin.dashboard.title'), admin_dashboard_index_path, class: 'navbar-link' %>
              <div class="navbar-dropdown">
                <%= link_to t('layouts.application.sign_out'), sign_out_path, method: :delete, class: 'navbar-item', id: 'sign-out' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
