<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Administration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="admin">
    <%= render 'layouts/admin_navbar' %>
    <% flash.each do |key, value| %>
      <div class="section">
        <div class="container">
          <div class="columns">
            <div id="flash" class="column is-offset-1 is-one-third">
              <div class="notification is-danger flash <%= key %>"><%= value %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
