<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description" content="<%= t('meta.description') %>">
    <meta name="keywords" content="<%= t('meta.keywords') %>">
    <meta property="og:url" content="https://www.gynformation.de" />
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:description" content="<%= meta_description %>"/>
    <meta property="og:image" content="<%= meta_image %>"/>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |key, value| %>
      <div class="section">
        <div class="container">
          <div class="columns">
            <div id="flash" class="column is-one-third">
              <div class="notification is-danger flash <%= key %>"><%= value %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="main-content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
